<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../static/navbar.css" th:href="@{/navbar.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>

</head>
<body>
<div class="navbar">

    <div class="item">
        <div class="fa fa-home"></div>
        <div class="label">Home</div>
    </div>

    <div class="item">
        <div class="fa fa-user-o"></div>
        <div class="label">Patients </div>
    </div>
    <div class="item">
        <div class="fa fa-wrench"></div>
        <div class="label">Settings</div>
    </div>
    <div class="item">
        <div class="fa fa-power-off"></div>
        <div class="label">Logout</div>
    </div>

</div>

</body>
</html>