<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Slide</title>
    <link rel="stylesheet" href="../static/master.css" th:href="@{/master.css}"/>
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../javascript/patientIndexGraph.js" th:href="@{/patientIndexGraph.js}"/>
    <script src="../../javascript/patientIndexDaysGraph.js" th:href="@{/patientIndexDaysGraph.js}"/>
    <script src="../../javascript/patientIndexBeforeAfterAvgGraph.js" th:href="@{/patientIndexBeforeAfterAvgGraph.js}"/>


    <script src="../../javascript/Chart.min.js" th:href="@{/Chart.min.js}"/>
    <script src="../../javascript/js-url-2.5.0/url.js" th:href="@{/url.js}" ></script >
</head>
<body>

<header>
    <div th:replace="fragments/header :: header"></div>


</header>


<div th:replace="fragments/patientSideMenu :: patientSideMenu"></div>


<div class="activityContainer">

<main class="main" id="main">

    <div class="activityBoxes" id="activityBoxIndex">

    <div class="boxContainer" id="boxContainerIndex" >
        <div class="activityUpcoming" onclick="openIndexModal()">
            <div class="boxIcon">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>


            </div>
            <h2  th:text="${upcomingActivities}"> # </h2>
            <!--<h2 th:text="${patient}"> # </h2>-->

            <p> upcoming activities </p>

        </div>
    </div>
        <div class="boxContainer" id="boxContainerIndex" >
            <div class="activityUpcoming">
                <div class="boxIcon">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>


                </div>
                <h2  th:text="${avgRating}"> # </h2>
                <!--<h2 th:text="${patient}"> # </h2>-->

                <p> average score </p>

            </div>
        </div>
        <div class="activityBoxes" >
            <div class="boxContainer" id="completionRateIndex">
                <div class="completionRate" >
                    <div class="boxIcon">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i>

                    </div>
                    <!--<h2 class="inline" th:text="${completedCount}"> # </h2> <p class="inline"> of </p> <h2 class="inline" th:text="${totalCreated}" > #</h2>-->
                    <h2 class="inline" th:text="${percent}"> </h2> <h2 class="inline"> % </h2>
                    <p> completion rate</p>
                </div>
            </div>
            <!--IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII-->

            <div class="boxContainer" id="positiveActivityIndex">
                <div class="completionRate" >
                    <div class="boxIcon">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i>

                    </div>
                    <!--<h2 class="inline" th:text="${completedCount}"> # </h2> <p class="inline"> of </p> <h2 class="inline" th:text="${totalCreated}" > #</h2>-->
                    <h2 class="inline" th:text="${positiveActivity}"> </h2> <h2 class="inline"></h2>
                    <p> activity with highest positive mood change</p>
                </div>
            </div>
            <div class="boxContainer" id="negativeActivityIndex">
                <div class="completionRate" >
                    <div class="boxIcon">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i>

                    </div>
                    <!--<h2 class="inline" th:text="${completedCount}"> # </h2> <p class="inline"> of </p> <h2 class="inline" th:text="${totalCreated}" > #</h2>-->
                    <h2 class="inline" th:text="${negativeActivity}"> </h2> <h2 class="inline"></h2>
                    <p> activity with highest negative mood change</p>
                </div>
            </div>
            <div class="boxContainer" id="completionRateIndex">
                <div class="completionRate" >
                    <div class="boxIcon">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i>

                    </div>
                    <!--<h2 class="inline" th:text="${completedCount}"> # </h2> <p class="inline"> of </p> <h2 class="inline" th:text="${totalCreated}" > #</h2>-->
                    <h2 class="inline" th:text="${totalDeleted}"> </h2> <h2 class="inline"></h2>
                    <p> deleted activities</p>
                </div>
            </div>

            <!--IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII-->


            <div class="boxContainer" id="completedCountIndex">
                <div class="completedCnt"  >
                    <div class="boxIcon">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <h2 th:text="${completedCount}"> # </h2>

                    <p> completed </p>
                </div>
            </div>


            <div class="boxContainer" id="indexFav" onclick="openIndexModalFavourites()">
                <div class="activityCount">
                    <div class="boxIcon">
                        <i class="fa fa-heart" aria-hidden="true"></i>


                    </div>
                    <h2 th:text="${favouriteCount}"> # </h2>
                    <p> favourites </p>

                </div>

            </div>

        </div>
</div>


    <div class="infoWrapepr">
        <h1> Activities by day </h1>
        <canvas id="indexGraphDays"></canvas>








    <div class="graphWrapperIndex">
        <h3> Your last 3 activities </h3>
    <canvas id="indexGraph"></canvas>
    </div>

        <div class="graphWrapperIndex">
            <h3> How you generally feel before and after   </h3>

            <canvas id="indexGraphAverage"></canvas>

        </div>
    </div>

    <div class="fullScreenModal" id="indexModal">
        <a href="javascript:void(0)" class="closebtn" onclick="closeIndexModal()">&times;</a>
        <div class="container">
            <table class="upcomingTable">
                <tr>
                    <th>Activity Name</th>
                    <th>Date</th>

                </tr>
                <tr th:each="activities : ${upcoming}">
                    <td th:text="${activities.name}"> Test</td>
                    <td th:text="${activities.activityDate}">Test</td>
                </tr>






            </table>
        </div>
    </div>

    <div class="fullScreenModal" id="indexModalFavourites">
        <a href="javascript:void(0)" class="closebtn" onclick="closeIndexModalFavourites()">&times;</a>
    <div class="container">
        <table class="upcomingTable">
            <tr>
                <th>Favourite Activities</th>



            </tr>
            <tr th:each="activities : ${favourite}">
                <td th:text="${activities.name}"> Test</td>




            </tr>






        </table>
    </div>
    </div>


</main>
</div>



<script>
    function openIndexModal() {
        document.getElementById("indexModal").style.width = "30%";
    }

    function closeIndexModal() {
        document.getElementById("indexModal").style.width = "0";
    }
</script>

<script>
    function openIndexModalFavourites() {
        document.getElementById("indexModalFavourites").style.width = "30%";
    }

    function closeIndexModalFavourites() {
        document.getElementById("indexModalFavourites").style.width = "0";
    }
</script>

<script>
    $('#main-nav li a').click(function(){
        $('#main-nav li').removeClass('active');
        $(this).parent().addClass('active')
    });
    function togNav() {
        var nav = document.getElementById("sidenav");
        var main = document.getElementById("main");

        if (nav.style.width == '250px') {
            nav.style.width = '0';
            main.style.marginLeft = 0;

        } else {
            nav.style.width = "250px";
            main.style.marginLeft = '250px';
        }
    }
</script>

</body>
</html>