@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";


*{
    margin: 0;
    padding:0;
    text-decoration: none;
    list-style:none;
    font-family: 'Montserrat', sans-serif;

}


.topBar{
    overflow: hidden;
    background-color: #1c2631;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000000;
    height: 70px;
    box-shadow:  2px 2px 2px 1px #bfbfbf;
    /*height: 50px;*/
}

.toggleMenu{
    color: white;
    cursor: pointer;
    z-index: 10000000;
    font-size: 2em;
    padding-left: 10px;
    padding-top: 20px;
}

#sidenav {
    position:fixed;
    width: 0px;
    height:100%;
    background-color:#35495d;
    margin-left:0px;
    z-index:1;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    /*display: flex;*/
    /*flex-direction:column;*/
    box-shadow:  2px 2px 2px 1px #a1a1a1;

}

.logo {
    /*margin: 12vh 0;*/
    text-align: center;
    border-bottom: 0.5px solid #f1f1f1;
    margin-bottom: 20px;
    margin-top:40px;
    background-image: url("../static/bg2.jpg");
    background-repeat:repeat;
}


.logo img{
    margin-top: 40px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.logo p{
    color: white;
    padding-bottom: 20px;
    padding-top: 30px;
}


#main-nav {
    list-style-type:none;
    padding:0;
    margin:0;
    width: 100%;
    /*display: table;*/
}


#main-nav li {
    padding:0;
    margin:0;
    /*display: table-cell;*/
}

#main-nav li a {
    display:block;
    padding:0 20px 0 100px;
    text-decoration:none;
    color:#98cde6;
    font-weight:200;
    line-height:65px;
}

#main-nav li a:hover {
    color:#FFFFFF;
    transition: all 0.3s ease-in-out;
    background:#1caf9a;


}

/*#main-nav li.active a {*/
    /*background:#1caf9a;*/
    /*color:white;*/
    /*!*box-shadow:inset 5px 0 0 #ef8700;*!*/
/*}*/

#main-nav li a .fa {
    font-size:30px;
    position:absolute;
    width:60px;
    height:65px;
    line-height:65px;
    text-align:center;
    left:20px;
    color: white;
}

#main-nav li.active a .fa {
    color:#98cde6;
}
.main {
    transition: all 0.3s ease-in-out;
}

.test{
    font-size: 90px;
    color: black;
}

#refresh{
    margin-top: 150px;
    text-align: center;
    font-size: 24px;
    color: white;
}

#refresh a:hover{
    cursor: pointer;
}

.container {
    /*width: 100%;*/
    margin: 30px auto;
    padding: 25px;
    min-height: 400px;
    height: auto;
}

.box h3 {
    text-align: center;
    position: relative;
    top: 80px;
}

.box h1{
    text-align: center;
    font-weight:200;
    color: #00cccc;
}

.box {
    /*width: 90%;*/
    background: #FFF;
    margin: 40px auto;
}

.effect {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.container table{
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    width:100%;
}

.container table td, .container table tr{
    border: 1px solid #ddd;
    padding: 8px;

}

.container table th{
    font-size: 18px;
    border-right: 1px solid #dddddd;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background: #35495d;
    font-weight:200;
}

.container table th .container table tr {
    text-align: center;
}

.container table .goTo{
    text-align: center;
}
.container table .goTo a{
    text-decoration: none;
    color: #f1f1f1;
}



#activityButton .fa {
    font-size: 30px;
    color:    #00b3b3
;
    }

#activityButton .fa:hover{
    color: #ff9933;
    transition: all 0.3s ease-in-out;

}

#recordButton .fa{
    font-size: 30px;
    color:   #00b3b3;
}

#recordButton .fa:hover{
    color: #ff9933;
    transition: all 0.3s ease-in-out;

}

.selectPatient{
    border:none;
    font-size:15px;
    background: #FFFFFF;
    padding: 15px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;


}



@media only screen and (max-width: 1366px) {

    #main-nav li a .fa {
        font-size:25px;


}

    .logo img{
        margin-top: 40px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
}


    .logo p{
        color: white;
        padding-bottom: 10px;
        padding-top: 10px;
    }

}

.gpDashboard{
    background:url("https://i.imgur.com/WyPvWWM.jpg");
    background-repeat:no-repeat;
    background-position: center;
}

.formContainer{
display: flex;
    justify-content: center;
}

.activityForm {
    /*position:relative;*/
    width:360px;
    height:200px;
    /*margin:50px auto;*/
    text-align:center;
    background:#ecf0f1;
    padding:40px;
    margin-top: 40px;
    /*margin:0 auto;*/
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}




.activityForm input {
    display:block;
    width:315px;
    padding:14px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    border:0;
    margin-bottom:12px;
    color:#7f8c8d;
    font-weight:600;
    font-size:16px;
    /*text-align: ce;*/
}



#activitySubmitBtn {
    /*position:relative;*/
    /*float:left;*/
    width:160px;
    height: 50px;
    margin-top:10px;
    background:#3498db;
    color:#fff;
    border-radius: 5px;
}

#activitySubmitBtn:hover{
    cursor: pointer;
    background-color: #00b3b3;
    transition: all 0.3s ease-in-out;

}

ul.flexbox {
    border-bottom: 1px solid black;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

ul.flexbox li {
    margin-left:25%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

ul.flexbox li:hover{
    color: white;
    background-color: blue;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.activitiesBody {
    /*color: #FFF;*/
    /*background-image: linear-gradient(135deg, #349BC7 0%, #236DCF 100%);*/
}
/*#page {*/

    /*width: 50%;*/
    /*margin: 0 auto;*/
    /*min-height: 100vh;*/

/*}*/


#tabs {
    padding-top: 200px;
}

.c-tabs-nav {
    list-style: none;
    padding: 0;
    position: relative;
    margin-bottom: 10px;
}

.c-tabs-nav a{
    margin-left: 20%;
}

.c-tabs-nav__link {
    text-decoration: none;
    color: black;
    opacity: 0.7;
    margin-right: 25px;
    padding: 10px 15px;
}

.c-tabs-nav__link.is-active {
    opacity: 1;
}

/**
 * Tab
 */
.c-tab {
    display: none;
    border-top: 1px solid rgba(217, 217, 217, 0.5);
}

.c-tab.is-active {
    display: block;
}

.c-tab__content {
    padding: 20px;
    position: relative;
    animation: showTab 300ms ease-in-out both;
}

@keyframes showTab{
    from {opacity: 0; top: 5px}
    to {opacity: 1; top: 0;}
}

.c-tab-nav-marker {
    min-height: 4px;
    background-color: #00b3b3;
    position: absolute;
    bottom: -10px;

    transition: all 0.3s ease-out;
}

.upcomingTable td .fa{
    color: #1caf9a;
}

.upcomingTable td{
    text-align: center;
}
