@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100|Raleway');

*{
    margin: 0;
    padding:0;
    text-decoration: none;
    list-style:none;
    font-family: 'Montserrat', sans-serif;
    /*font-weight: 600;*/

}

body{
    background-color: #e6e6e6;
}


.topBar{
    overflow: hidden;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000000;
    /*height: 50px;*/
    box-shadow:  2px 2px 1px 1px  #bfbfbf;
    /*height: 50px;*/
}

.holder {
    display: inline-block;
}

.companyHolder{
    z-index: 10000000;
    font-size: 2em;
    text-align: center;
}

#logoHolder{
    background-color:  #00cc99;
    width:18.5%;
    /*height:100%;*/
}

.companyHolder p{
    color: white;
    font-weight:200;
    padding: 5px;
}

#userHolder{
    width: 20%;
    font-weight:600;

}
.loggedInUser p {
    font-size: 15px;
    text-align: right;
}

.loggedInUser img{
    width: 20px;
}
#langHolder{
    width: 20%;
    font-weight:600;
}
.languageSelect img{
    width: 20px;
    display:inline-block;
}

.languageSelect p{
    text-align: right;
    font-size: 15px;
}

#pageTitle{
    width:50%;
}

.pageTitle{
    text-align: left;
    margin-left: 2%;
}

#titleChange{
    font-weight: 900;

}



.toggleMenu{
    color: #999999;
    cursor: pointer;
    z-index: 10000000;
    font-size: 2em;
    font-weight:200;
    padding-left: 10px;
    /*padding-top: 10px;*/
}

.toggleMenu:hover{


}

.fa-bars:hover{
    border-radius: 2px;
    color: #000;
    transition: all 0.3s ease-in-out;

}

#sidenav {
    position:fixed;
    width: 0px;
    height:100%;
    margin-top: 3.5%;
    background-color: #f2f2f2;
    /*background-color: #e6e6e6;*/
    margin-left:0px;
    z-index:100000000;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    box-shadow:  2px 2px 1px 1px  #bfbfbf;
    /*font-family: 'Montserrat', sans-serif;*/



    /*display: flex;*/
    /*flex-direction:column;*/

}

.imageWrapper{
    background: url("http://www.newdesignfile.com/postpic/2011/07/wavy-lines_378711.jpg");
    background-repeat:no-repeat;
    width: 100%;
    height: 100px;
    background-position: right;
}

.userImageWrapper{
    display: flex;
    justify-content:center;
}

.userImageWrapper img{
    margin-top: 10px;
    width: 50px;
    height: 50px;
}

.userTitle{
    /*background: #ff4d4d;*/
    display: flex;
    justify-content: flex-start;
}

.userTitle .fa{
    color: #000;
}

.userTitle p{
    margin-left: 10px;
    margin-top: 5px;
    color: #000;
    font-size: 15px;
    font-weight:600;


}

.nav li:nth-child(2) {
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    font-weight: 700;
    margin-left: 10px;
    background: rgba(0,0,0,.04);
    padding: 0px 10px;
    border-radius: 8px;
    cursor: default;
    text-align: center;
}

.nav li:nth-child(5) {
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    font-weight: 700;
    margin-left: 10px;
    background: rgba(0,0,0,.04);
    padding: 0px 10px;
    border-radius: 8px;
    cursor: default;
    text-align: center;
}




#main-nav {
    list-style-type:none;
    padding:0;
    margin:0;
    width: 100%;
    /*font-family: 'Montserrat', sans-serif;*/

    /*display: table;*/
}


#main-nav li {
    padding:0;
    /*margin:0;*/
    /*display: table-cell;*/
    /*font-family: 'Montserrat', sans-serif;*/

}

#main-nav li a {
    /*font-family: 'Montserrat', sans-serif;*/
    display:block;
    padding:0 20px 0 100px;
    text-decoration:none;
    color:#666666;
    font-weight: 600;
    line-height:65px;
    margin-top: 5%;
}

#main-nav li a:hover .fa {
    color:#FFFFFF;
    transition: all 0.3s ease-in-out;
    background-color:  #00cc99;
    border-radius: 8px;
    box-shadow:inset 5px 0 0 #ef8700;
    transition: all 0.5s ease-in-out;

}



/*#main-nav li.active a {*/
    /*background:#1caf9a;*/
    /*color:white;*/
    /*box-shadow:inset 5px 0 0 #ef8700;*/
/*}*/

#main-nav li a .fa {
    font-size:30px;
    position:absolute;
    width:60px;
    height:65px;
    line-height:65px;
    text-align:center;
    left:10px;
    color:#666666;
}

.notificationWrapper{
    display: inline-block;
    font-size: 10px;
    /*text-align: right;*/
    margin-left: 20%;
    width: 20% ;
    transition: all 0.3s ease-in-out;

}
.notificationNav p{
    text-align: center;
    background-color:  #ff4d4d;
    color: #FFFFFF;
    line-height: 20px;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;

}

#calanderNotification{
    background: #00cccc;
}

/*#main-nav li.active a .fa {*/
    /*!*color:#98cde6;*!*/
/*}*/



.main {
    transition: all 0.3s ease-in-out;
}

.test{
    font-size: 90px;
    color: black;
}

#refresh{
    margin-top: 150px;
    text-align: center;
    font-size: 24px;
    color: white;
}

#refresh a:hover{
    cursor: pointer;
}

.container {
    /*width: 100%;*/
    /*margin: 30px auto;*/
    /*padding: 25px;*/
    /*min-height: 400px;*/
    /*height: auto;*/
}

.box h3 {
    text-align: center;
    position: relative;
    top: 80px;
}

.box h1{
    text-align: center;
    font-weight:200;
    color: #00cccc;
}

.box {
    /*width: 90%;*/
    background: #FFF;
    margin: 40px auto;
}

.effect {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.container table{
    /*font-family: 'Montserrat', sans-serif;*/
    border-collapse: collapse;
    width:100%;
    background-color: #FFFFFF;
    box-shadow:  2px 5px 4px 3px  #bfbfbf;

}

    


.container table td, .container table tr{
    border-bottom: 1px solid #ddd;
    padding: 8px;
    font-weight: 600;
    text-align: center;

}

.container table td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.upcomingTable tr:nth-child(2){
    border-right:1px solid #ddd;
    border-left:1px solid #ddd;

}

.container table th{
    font-size: 18px;
    border-right: 1px solid white;
    padding-top: 1%;
    padding-bottom: 2%;
    color: black;
    background:  #d9d9d9;
    font-weight: 900;
}

.container table th .container table tr {
    text-align: center;
}

.container table .goTo{
    text-align: center;
}
.container table .goTo a{
    text-decoration: none;
    color: #f1f1f1;
}



#activityButton .fa {
    font-size: 30px;
    color:    #00b3b3
;
    }

#activityButton .fa:hover{
    color: #ff9933;
    transition: all 0.3s ease-in-out;

}

#recordButton .fa{
    font-size: 30px;
    color:   #00b3b3;
}

#recordButton .fa:hover{
    color: #ff9933;
    transition: all 0.3s ease-in-out;

}

.selectPatient{
    border:none;
    font-size:15px;
    background: #FFFFFF;
    padding: 15px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;


}



/*@media only screen and (max-width: 1366px) {*/

    #main-nav li a .fa {
        font-size: 25px;

    }

    .logo img {
        margin-top: 40px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .logo p {
        color: white;
        padding-bottom: 10px;
        padding-top: 10px;
    }



    .formContainer {
        /*display: flex;*/
        /*justify-content: center;*/
        /*width: 100%;*/
    }
/*credit to w3 schools forms*/
/*https://www.w3schools.com/css/tryit.asp?filename=trycss_forms*/



.formContainer input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight:600;

}

.formContainer button[type=submit] {
    /*width: 100%;*/
    background-color: #00b3b3;
    font-weight:600;

    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    }

    /*.activityForm input {*/
        /*display: block;*/
        /*!*width: 200px;*!*/
        /*padding: 14px;*/
        /*-webkit-border-radius: 6px;*/
        /*-moz-border-radius: 6px;*/
        /*border-radius: 6px;*/
        /*border: 0;*/
        /*margin-bottom: 12px;*/
        /*color: #7f8c8d;*/
        /*font-weight: 600;*/
        /*font-size: 16px;*/
        /*!*text-align: ce;*!*/
    /*}*/

    /*#activitySubmitBtn {*/
        /*width: 100%;*/
        /*height: 50px;*/
        /*margin-top: 10px;*/
        /*background: #3498db;*/
        /*color: #fff;*/
        /*border-radius: 5px;*/

    /*}*/

    #activitySubmitBtn:hover {
        cursor: pointer;
        background-color: #00e673
    ;
        transition: all 0.3s ease-in-out;

    }

    ul.flexbox {
        border-bottom: 1px solid black;
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    }

    ul.flexbox li {
        margin-left: 25%;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
    }

    ul.flexbox li:hover {
        color: white;
        background-color: blue;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

    }

    .activitiesBody {
        /*color: #FFF;*/
        /*background-image: linear-gradient(135deg, #349BC7 0%, #236DCF 100%);*/
    }

    /*#page {*/
    /*width: 50%;*/
    /*margin: 0 auto;*/
    /*min-height: 100vh;*/
    /*}*/
    #tabs {
        padding-top: 10px;
    }

    .c-tabs-nav {
        list-style: none;
        /*padding: 0;*/
        position: relative;
        margin-bottom: 10px;
        font-weight:600;

    }



    .c-tabs-nav a {
        margin-left: 10%;
    }

    .c-tabs-nav a i{
        color: #000;
    }

    .c-tabs-nav__link {
        text-decoration: none;
        color: black;
        font-size: 20px;

        opacity: 0.7;
        /*margin-right: 40px;*/
        /*padding: 10px 15px;*/
    }

    .c-tabs-nav__link.is-active {
        opacity: 1;
    }

    /**
     * Tab
     */
    .c-tab {
        display: none;
        /*border-top: 2px solid rgba(217, 217, 217, 0.5);*/
    }

    .c-tab.is-active {
        display: block;
    }

    .c-tab__content {
        margin-top: 60px;
        /*padding: 20px;*/
        width: 100%;
        position: relative;
        animation: showTab 300ms ease-in-out both;
    }

    @keyframes showTab {
        from {
            opacity: 0;
            top: 5px
        }
        to {
            opacity: 1;
            top: 0;
        }
    }

    .c-tab-nav-marker {
        min-height: 4px;
        background-color: #00b3b3;
        position: absolute;
        bottom: -10px;

        transition: all 0.3s ease-out;
    }

    .upcomingTable td .fa {
        color: #1caf9a;
    }

    .upcomingTable td {
        text-align: center;
    }
    
    .historyTable{
        text-align: center;
    }

.deleteModal {
    height: 20%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(38, 38, 38, 0.8);
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.3s;
    /*padding-top: 60px;*/
}

#favouriteIcon{
    color: #ffd633;
}

.unFavourite_close{
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 90px;
    margin-left: 50px;
    color: #FFFFFF;
}


.unFavourite_close:hover{
    transition: all 0.3s ease-in-out;

    color: #818181;
    cursor: pointer;
}

.favourite_close{
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 90px;
    margin-left: 50px;
    color: #FFFFFF;
}


.favourite_close:hover{
    transition: all 0.3s ease-in-out;

    color: #818181;
    cursor: pointer;
}

.delete_close{
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 90px;
    margin-left: 50px;
    color: #FFFFFF;
}

.delete_close:hover{
    transition: all 0.3s ease-in-out;

    color: #818181;
    cursor: pointer;
}

    .modal {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgba(38, 38, 38, 0.8);
        overflow-x: hidden;
        transition: 0.8s;
        padding-top: 60px;
    }

    .modal-content {
        transition: all 0.3s ease-in-out;


    }



    .rate_close {
        position: absolute;
        top: 50px;
        right: 25px;
        font-size: 90px;
        margin-left: 50px;
        color: #FFFFFF;
    }

    .rate_close:hover{
        transition: all 0.3s ease-in-out;

        color: #818181;
        cursor: pointer;
    }







/*}*/
.range-slider {
    width:400px;
    height:40px;
    margin:0 auto 1em;
    /*border-radius: 50%;*/
    position:relative;
    cursor:e-resize;
}
.range-slider:before {
    content:"";
    display:block;
    position:absolute;
    top:9px;
    left:0;
    width:100%;
    height:40px;
    box-shadow:  1px 1px 1px 1px  #000000;

    /*background-color:black;*/
    background-repeat:no-repeat;
    background-position: center;
    background-image: url("https://1.bp.blogspot.com/-fcCvGS8VBWo/VQzRw5LI0cI/AAAAAAAADFs/v2niIm8FJ_Q/s1600/spectrum.png")
}
.range-slider span {
    display:block;
    /*height:inherit;*/
    height: 50px;
    width: 90px;
    position:relative;
    border-radius: 50%;
    z-index:2;
    background-color:#FFFFFF;
    cursor:inherit;
    box-shadow:  1px 1px 1px 1px  #000000;

}

/* Test result */
.test-result {
    /*margin-top:10%;*/
    width: 100%;
    text-align:center;
    color: #ffffff;
    font-size:2em;
}
.modal-wrapper {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.modal-wrapper img{
    width: 100px;
}

.modal-wrapper .fa{
    background: #00b3b3;
}

.modal-wrapper button{
    background: #00b3b3;
    font-size: 5em;

}
.result-emoji-wrapper {
    height: 32px;
}
#result-emoji {
    width: 100px;
    height: 100px;
}
    .modal-footer {

        color: white;
    }

    .activityContainer{
        display: flex;
        justify-content:center;
    }
    .main{
        margin-top:5%;
        width:70%;

    }

    .tabContainer{
        /*!*background-color: #FFFFFF;*!*/
        /*-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
        /*-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
        /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/


    }



    .activityBoxes{
        /*background-color: #FFFFFF;*/
        margin-bottom:5%;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #activityBoxIndex{
        width:100%;
    }
    #boxContainerIndex h2{
        font-size: 5em;
        width: 50%;
    }

    .boxContainer{
        /*display: inline-block;*/
        /*border-right:1px solid #dddddd;*/
        width: 50%;
        margin-left:10px;
        box-shadow:  2px 5px 4px 3px  #bfbfbf;

    }

    .boxContainer p, h2, i{
        text-align: left;
        color: #FFFFFF;
        padding-left: 5px;
    }

    .boxContainer p{
        font-size: 15px;
        padding-top: 1px;
        font-weight: 900;
        bottom: 0px;
    }

    .boxIcon{
        display: flex;
        justify-content: flex-end;
        padding-right: 5px;
    }

    .boxIcon i{
        font-size: 60px;
    }

    .boxContainer:first-child{
        background: #00cccc
    ;
    }

    .boxContainer:nth-child(2){
        background:  #ffd633;

    }

    .boxContainer:nth-child(3){
    background: #ff3385;

}

    .boxContainer:nth-child(4){
    background:#00e673;

}

    .fullScreenModal{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgba(38, 38, 38, 0.8);
        overflow-x: hidden;
        transition: 0.8s;
        padding-top: 60px;
    }

    .fullScreenModal a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .fullScreenModal a:hover{
        color: #f1f1f1;

    }

.fullScreenModal .closebtn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 90px;
    margin-left: 50px;
    color: #FFFFFF;
}


.fullScreenModal .closebtn:hover {

    color:  #999999;
}

.modalTitle{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}

.modalSubtitle{
display:flex;
    justify-content:center;
}

.titleModal {
    color: #FFFFFF;
    font-size: 5em;
    font-weight:200;
    /*font-weight: lighter;*/
}


.modalSubtitle p{
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;

}




.formWrapper{
    margin-top:5%;
    display: flex;
    justify-content:center;

}

.formContainer{
    width:50%;
}

.btnWrapper{
    display: flex;
    justify-content: center;
}
.formContainer button .fa{
    font-size:5em;
    /*background:  #00b3b3;*/
}
.formContainer button .fa:hover{
    font-size:5em;
    /*background:  #00e673;*/
    transition: all 0.3s ease-in-out;

}

.btnWrapper{
    margin-top: 10%;
    justify-content: center;
    display: flex}

.btnWrapper button:hover{
    background: #00e673;
    transition: all 0.3s ease-in-out;

}

#indexAvgDemo h2{
    font-size: 5em;
}

#indexAvgDemo{
    background:  #ff8533;
}

#indexCountDemo h2{
    font-size: 5em;
}

#indexFav{
    background: #ff4d4d;
}

#indexUsual{
    background: #669999
}

#completedCountIndex{
background: #1affa3;
}

#indexCig{
    background: #00cccc;

}

#completionRateIndex{
    background: #cc33ff;
}

.graphToggleWrapper{
    display: flex;
    justify-content:center;
}

.graphToggleHolder .fa{
    font-size: 5em;
    color:  #00e6ac;
}

.graphToggleHolder .fa:hover{
    color:  #ff471a;
    cursor: pointer;
    transition: all 0.1s ease-in-out;


}

.chartWrapper{
    display: flex;
    justify-content: center;}

.chart-container{
   width: 80%;
}

/*START OF MOBILE RESOLUTION*/


/*END OF MOBILE RESOLUTION*/

.inline{
    display: inline-block;
}

#ban{
    color: red;
}

#trash{
    color: red;
}

#cog{
    color: grey;
}

#rate_modal_button{
    color: #00e673;
}
.bigBoxesIndex{
    font-size: 9em;
    width:50%;
}
.infoWrapepr{
    width:100%;
}
.graphWrapperIndex{
    width:40%;
    display: inline-block;
}

.graphWrapperIndex h1{
    text-align: center;

}
.graphWrapperIndex canvas{
    margin-top:2%;
}

.boxContainer:hover{
    cursor: pointer;
    transition:  0.3s;
    /*transition: all 0.3s ease-out;*/

    width: 100%;
}

#indexModal .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 90px;
    margin-left: 50px;
    color: #FFFFFF;
}

#indexModal table{
    background: none;
    box-shadow: none;
    margin-top: 60px;
}

#indexModal td{
    color: #FFFFFF;
}

#indexModalFavourites .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 90px;
    margin-left: 50px;
    color: #FFFFFF;
}

#indexModalFavourites table{
    background: none;
    box-shadow: none;
    margin-top: 60px;
}

#indexModalFavourites td{
    color: #FFFFFF;
}



.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
    width: 40%;

}

.modal-body {padding: 2px 16px;}


.modal-body p{
    font-weight: 900;
}

#notificationSubText{
    font-weight:900;
}
#notificationIcon{
    color: #000;
}

.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color:#888;
}

.greetings{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.greetings td{
    text-align: center;
}

.greetings p{
    text-align: center;
}


.modal-content h1{
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}





