@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

*{
    background: red;
}
.container table{
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    width:100%;
}

.container table td, .container table tr{
    border: 1px solid #ddd;
    padding: 8px;

}