<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../static/patients.css" th:href="@{/patients.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<div class="topBar" th:fragment="header">
    <i id="open-menu" class="fa fa-bars toggleMenu" onclick="togNav()"> </i>
</div>
<body>

</body>
</html>