<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../static/master.css" th:href="@{/master.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<div class="topBar" th:fragment="header">
    <div class="holder" id="logoHolder">
        <div class="companyHolder">
            <p><i class="fa fa-heartbeat"></i>
                MOODi </p>
        </div>


    </div>



    <div class="holder">
        <i id="open-menu" class="fa fa-bars toggleMenu" onclick="togNav()"> </i>
    </div>

    <div class="holder" id="pageTitle">
        <div class="pageTitle">
            <h3 id="titleChange"> Activities
            </h3>
        </div>


    </div>

    <div class="holder" id="langHolder">
        <div class="languageSelect">

            <p><img src="https://cdn4.iconfinder.com/data/icons/world-flags-5-1/100/Britain-128.png"/>
                ENG                 <i class="fa fa-caret-down" aria-hidden="true"></i>
            </p>


        </div>
    </div>

    <div class="holder" id="userHolder">
        <div class="loggedInUser">
            <p>                 <i class="fa fa-user-circle-o" aria-hidden="true"></i>

                Jane Smith </p>



        </div>
    </div>
</div>


<body>

</body>
</html>