<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Slide</title>
    <link rel="stylesheet" href="../static/drawez.css" th:href="@{/drawez.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../static/drawer.js"></script>
</head>

<body>
    <div class="topBar">
        <i id="open-menu" class="fa fa-bars toggleMenu" onclick="togNav()"> </i>
        <!--<div class="center">-->
            <div class="pageTitle">
                    <h1>Test</h1>

            </div>
        <!--</div>-->
    </div>


    <div   id="sideMenu"     class="sidebarMenu">

        <div class="item">
            <div class="fa fa-home"></div>
            <div class="label">Home</div>
        </div>

        <div class="item">
            <a href="http://localhost:8080/table">
                <div class="fa fa-user-o"></div>
                <div class="label">Patients </div>
            </a>
        </div>
        <div class="item">
            <div class="fa fa-wrench"></div>
            <div class="label">Settings</div>
        </div>
        <div class="item">
            <div class="fa fa-power-off"></div>
            <div class="label">Logout</div>
        </div>
    </div>

    <main id="main" class="main">
        <h1 class="tester"> testwwwwwwwww</h1>
    </main>


<script>
    function togNav() {
        var nav = document.getElementById("sideMenu");
        var main = document.getElementById("main");

        if (nav.style.width == '250px') {
            nav.style.width = '0';
            main.style.marginLeft = 0;

        } else {
            nav.style.width = "250px";
            main.style.marginLeft = '250px';
        }
    }
</script>


</body>
</html>