<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../static/patients.css" th:href="@{/patients.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<header>
    <div th:replace="fragments/header :: header"></div>
</header>

<!--<div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>-->
<!--<div th:fragment="footer">-->


<body>
<div th:replace="fragments/navbar :: navbar"></div>


<script>

    // $('#menu-toggle,#menu-overlay').click(function(){
    //   $('body').toggleClass('open-menu');
    // });

    $('#main-nav li a').click(function(){
        $('#main-nav li').removeClass('active');
        $(this).parent().addClass('active')
    });



    function togNav() {
        var nav = document.getElementById("sidenav");
        var main = document.getElementById("main");

        if (nav.style.width == '250px') {
            nav.style.width = '0';
            main.style.marginLeft = 0;

        } else {
            nav.style.width = "250px";
            main.style.marginLeft = '250px';
        }
    }
</script>

</body>
</html>