<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>MOODi</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css" />
    <link rel="stylesheet" href="../static/css/graphToggles.css" th:href="@{/css/graphToggles.css}"/>

    <link rel="stylesheet" href="../static/css/newMaster.css" th:href="@{/css/newMaster.css}"/>

    <script src="../../javascript/Chart.min.js" th:href="@{/Chart.min.js}"/>
    <script src="../../javascript/js-url-2.5.0/url.js" th:href="@{/url.js}" ></script >

</head>
<body>

<section class="hero is-small is-link is-bold is-fixed-top">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <span class="icon">
                <i class="fa fa-heartbeat" aria-hidden="true"></i>

        </span>
                Activities
            </h1>
            <h2 class="subtitle">
                Patient activities and statistics
            </h2>
        </div>
    </div>
</section>

<nav class="navbar has-shadow " role="navigation" aria-label="main navigation">
    <div class="navbar-brand">


        <button class="button navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    <div class="navbar-menu is-centered" id="navMenu">

        <a class="navbar-item" th:href="@{/gp/patients}">
             <span class="icon">
                <i class="fa fa-user-md" aria-hidden="true"></i>

        </span>
            Patients
        </a>

        <div class="navbar-end">

            <a class="navbar-item">
                <p th:text="|${topBarTitle} ${patientName.firstname} ${patientName.lastname}|"></p>


            </a>


        </div>


        <!-- navbar-start, navbar-end... -->
    </div>
</nav>

<div class="tile is-ancestor" id="tileWrapper">
    <div class="tile is-parent">
        <div class="tile is-child box">
            <div class="tabs is-fullwidth">
                <ul>
                    <li id="activities-tab">
                        <a onClick="switchToActivities()">
                            <span class="icon is-size-1"><i class="fa fa fa-heartbeat"></i></span>
                            <span class="is-size-1">Activities</span>
                        </a>
                    </li>
                    <li id="deleted-tab">
                        <a onClick="switchToDeleted()">
                            <span class="icon is-size-1"><i class="fa fa-trash"></i></span>
                            <span class="span is-size-1">Deleted</span>
                        </a>
                    </li>
                    <li id="stats-tab">
                        <a onClick="switchToStats()">
                            <span class="icon is-size-1"><i class="fa fa-bar-chart"></i></span>
                            <span class="span is-size-1">Stats</span>
                        </a>
                    </li>


                </ul>
            </div>

            <!--<div class="container">-->
                <div class="hidden" id="activities-tab-content">
                    <table class="table is-fullwidth is-bordered">
                        <tr>
                            <th>Activity Name</th>
                            <th>Date</th>
                            <th>Rating Before</th>
                            <th>Rating After</th>
                        </tr>
                        <tr th:each="activities : ${activities}">
                            <td th:text="${activities.name}"> Test</td>
                            <td th:text="${activities.activityDate}">Test</td>

                            <!-- <td th:text="${activities.ratingAfter}">Test</td> -->
                            <td th:if="${activities.ratingBefore == 1}"><img src="/images/emojis/VeryHappy.png" style="width: 32px; height: 32px;" /></td>
                            <td th:if="${activities.ratingBefore == 2}"><img src="/images/emojis/Happy.png" style="width: 32px; height: 32px;" /></td>
                            <td th:if="${activities.ratingBefore == 3}"><img src="/images/emojis/Neutral.png" style="width: 32px; height: 32px;" /></td>
                            <td th:if="${activities.ratingBefore == 4}"><img src="/images/emojis/Upset.png" style="width: 32px; height: 32px;" /></td>
                            <td th:if="${activities.ratingBefore == 5}"><img src="/images/emojis/Sad.png" style="width: 32px; height: 32px;" /></td>
                            <td th:if="${activities.ratingBefore == 6}"><img src="/images/emojis/VerySad.png" style="width: 32px; height: 32px;" /></td>


                            <td th:if="${activities.ratingAfter == 1}"><img src="/images/emojis/VeryHappy.png" style="width: 32px; height: 32px;" /></td>
                            <td th:if="${activities.ratingAfter == 2}"><img src="/images/emojis/Happy.png" style="width: 32px; height: 32px;" /></td>
                            <td th:if="${activities.ratingAfter == 3}"><img src="/images/emojis/Neutral.png" style="width: 32px; height: 32px;" /></td>
                            <td th:if="${activities.ratingAfter == 4}"><img src="/images/emojis/Upset.png" style="width: 32px; height: 32px;" /></td>
                            <td th:if="${activities.ratingAfter == 5}"><img src="/images/emojis/Sad.png" style="width: 32px; height: 32px;" /></td>
                            <td th:if="${activities.ratingAfter == 6}"><img src="/images/emojis/VerySad.png" style="width: 32px; height: 32px;" /></td>


                        </tr>
                    </table>

                </div>
                <div class="hidden" id="deleted-tab-content">
                    <table class="table is-fullwidth is-bordered">
                        <tr>
                            <th>Activity Name</th>
                            <th>Date</th>
                            <th>Deleted</th>

                        </tr>
                        <tr th:each="deletion : ${deletion}">
                            <td th:text="${deletion.name}"> Test</td>
                            <td th:text="${deletion.activityDate}">Test</td>
                            <!--<td th:text="${deletion.isDeleted}">Test</td>-->

                            <td th:if="${deletion.isDeleted == true}"><i class="fa fa-trash has-text-dark	" aria-hidden="true"></i></td>
                        </tr>
                    </table>

                </div>
                <div class="hidden" id="stats-tab-content">
                    <div class="section">

                        <div class="columns is-multiline">
                            <div class="column">
                                <div class="box notification" id="upcomingBox" onclick="upcomingModalOpen()"
                                     th:onclick="'javascript:upcomingModalOpen()'">
                                    <div class="title is-1 has-text-right	">
                        <span class="icon">
                            <i class="fa fa-exclamation-circle has-text-dark	" aria-hidden="true"></i>
                        </span>
                                    </div>
                                    <div class="heading is-right">Coming Up</div>
                                    <div class="title is-1" th:text="${upcomingActivities}">#</div>

                                </div>
                            </div>
                            <div class="column">
                                <div class="box notification ">
                                    <div class="title is-1 has-text-right	">
                        <span class="icon">
                            <i class="fa fa-bar-chart has-text-dark	" aria-hidden="true"></i>
                        </span>
                                    </div>
                                    <div class="heading is-right">Average Score</div>
                                    <div class="title is-1" th:text="${avgRating} ">#</div>

                                </div>
                            </div>
                            <div class="column">
                                <div class="box notification ">
                                    <div class="title is-1 has-text-right	">
                        <span class="icon">
                            <i class="fa fa-pie-chart has-text-dark	" aria-hidden="true"></i>
                        </span>
                                    </div>
                                    <div class="heading is-right">Completion Rate</div>
                                    <div class="title is-1" th:text="|${percent} %|">#</div>

                                </div>
                            </div>
                            <div class="column">
                                <div class="box notification" id="favouritesBox" onclick="favouritesModalOpen()"
                                     th:onclick="'javascript:favouritesModalOpen()'">
                                    <div class="title is-1 has-text-right	">
                        <span class="icon">
                            <i class="fa fa-heart has-text-dark	" aria-hidden="true"></i>
                        </span>
                                    </div>
                                    <div class="heading is-right">Favourites</div>
                                    <div class="title is-1" th:text="${favouriteCount}">#</div>

                                </div>
                            </div>
                        </div>

                        <div class="columns is-multiline">
                            <div class="column">
                                <div class="box notification ">
                                    <div class="title is-1 has-text-right	">
                        <span class="icon">
                            <i class="fa fa-check has-text-dark	" aria-hidden="true"></i>
                        </span>
                                    </div>
                                    <div class="heading is-right">Completed</div>
                                    <div class="title is-1" th:text="${completedCount}">#</div>

                                </div>
                            </div>
                            <div class="column">
                                <div class="box notification ">
                                    <div class="title is-1 has-text-right	">
                        <span class="icon">
                            <i class="fa fa-thumbs-up has-text-dark	" aria-hidden="true"></i>
                        </span>
                                    </div>
                                    <div class="heading is-right">Positive </div>
                                    <div class="title is-1" th:text="${positiveActivity}">#</div>

                                </div>
                            </div>
                            <div class="column">
                                <div class="box notification ">
                                    <div class="title is-1 has-text-right	">
                        <span class="icon">
                            <i class="fa fa-thumbs-down has-text-dark	" aria-hidden="true"></i>
                        </span>
                                    </div>
                                    <div class="heading is-right">Negative </div>
                                    <div class="title is-1" th:text="${negativeActivity}">#</div>

                                </div>
                            </div>
                            <div class="column">
                                <div class="box notification">
                                    <div class="title is-1 has-text-right	">
                        <span class="icon">
                            <i class="fa fa-trash has-text-dark	" aria-hidden="true"></i>
                        </span>
                                    </div>
                                    <div class="heading is-right">Deleted</div>
                                    <div class="title is-1" th:text="${totalDeleted}">#</div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            <!--</div>-->
        </div>
    </div>
    <div class="tile is-4 is-vertical is-parent" id="ButtonTile">
        <div class="tile is-child box">

            <ul class="menu-list has-text-centered" id="button-list">
                <li>
                    <button class="button is-primary " th:onclick="'javascript:lastThreeOpen()'"
                            onclick="lastThreeOpen()">
                        Last 3 Activities </button>

                </li>
                <li>
                    <button class="button is-primary" th:onclick="'javascript:overallOpen()'"
                            onclick="overallOpen()"> Overall </button>
                </li>
                <li>
                    <button class="button is-primary" th:onclick="'javascript:byDayOpen()'"
                            onclick="byDayOpen()"> Activities By Day </button>
                </li>
                <li>
                    <button class="button is-primary" th:onclick="'javascript:beforeAfterOpen()'"
                            onclick="beforeAfterOpen()"> Before and After</button>

                </li>
                <li>
                    <button class="button is-primary" th:onclick="'javascript:differenceOpen()'"
                            onclick="differenceOpen()"> Difference </button>

                </li>
            </ul>


            <!--<button class="button is-info has-shadow box-shadow" th:onclick="'javascript:lastThreeOpen()'"-->
            <!--onclick="lastThreeOpen()"> Last 3 Activities </button>-->


            <!--<button class="button is-info" th:onclick="'javascript:overallOpen()'"-->
            <!--onclick="overallOpen()"> Overall </button>-->

            <!--<button class="button is-info" th:onclick="'javascript:byDayOpen()'"-->
            <!--onclick="byDayOpen()"> Activities By Day </button>-->
            <!--<button class="button is-info" th:onclick="'javascript:beforeAfterOpen()'"-->
            <!--onclick="beforeAfterOpen()"> Before and After</button>-->
            <!--<button class="button is-info" th:onclick="'javascript:differenceOpen()'"-->
            <!--onclick="differenceOpen()"> Difference </button>-->


        </div>

    </div>

</div>



<div class="modal" id="lastThree">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Last Three Activities</p>
            <button class="delete" aria-label="close" th:onclick="'javascript:lastThreeClose()'"
                    onclick="lastThreeClose()"></button>
        </header>
        <section class="modal-card-body">
            <div class="indexChartGP" >
                <canvas id="indexGraph"></canvas>
            </div>
        </section>

    </div>
</div>

<div class="modal" id="byDay">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Overall activities by day</p>
            <button class="delete" aria-label="close" th:onclick="'javascript:byDayClose()'"
                    onclick="byDayClose()"></button>
        </header>
        <section class="modal-card-body">
            <div class="indexChartGP" >
                <canvas id="indexGraphDays"></canvas>
            </div>
        </section>

    </div>
</div>

<div class="modal" id="beforeAfter">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">The average before and after ratings</p>
            <button class="delete" aria-label="close" th:onclick="'javascript:beforeAfterClose()'"
                    onclick="beforeAfterClose()"></button>
        </header>
        <section class="modal-card-body">
            <div class="indexChartGP" >
                <canvas id="indexGraphAverage"></canvas>
            </div>
        </section>

    </div>
</div>

<div class="modal" id="difference">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title"> Relative mood change </p>
            <button class="delete" aria-label="close" th:onclick="'javascript:differenceClose()'"
                    onclick="differenceClose()"></button>
        </header>
        <section class="modal-card-body">
            <div class="indexChartGP" >
                <canvas id="differenceGraph"></canvas>
            </div>
        </section>

    </div>
</div>

<div class="modal" id="overall">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title"> Overall ratings of all activities </p>
            <button class="delete" aria-label="close" th:onclick="'javascript:overallClose()'"
                    onclick="overallClose()"></button>
        </header>
        <section class="modal-card-body">
            <div class="indexChartGP" >
                <canvas id="mycanvas"></canvas>
            </div>
        </section>

    </div>
</div>


<script th:inline="javascript">
    function lastThreeOpen() {
        document.getElementById("lastThree").style.display = "block";
    }

    function lastThreeClose() {
        document.getElementById("lastThree").style.display = "none";
    }

    function byDayOpen() {
        document.getElementById("byDay").style.display = "block";
    }

    function byDayClose() {
        document.getElementById("byDay").style.display = "none";
    }

    function beforeAfterOpen() {
        document.getElementById("beforeAfter").style.display = "block";
    }

    function beforeAfterClose() {
        document.getElementById("beforeAfter").style.display = "none";
    }

    function differenceOpen() {
        document.getElementById("difference").style.display = "block";
    }

    function differenceClose() {
        document.getElementById("difference").style.display = "none";
    }

    function overallOpen() {
        document.getElementById("overall").style.display = "block";
    }

    function overallClose() {
        document.getElementById("overall").style.display = "none";
    }

</script>

<script>

    function switchToActivities() {
        removeActive();
        hideAll();
        $("#activities-tab").addClass("is-active");
        $("#activities-tab-content").removeClass("hidden");
    }

    function switchToDeleted() {
        removeActive();
        hideAll();
        $("#deleted-tab").addClass("is-active");
        $("#deleted-tab-content").removeClass("hidden");
    }

    function switchToStats() {
        removeActive();
        hideAll();
        $("#stats-tab").addClass("is-active");
        $("#stats-tab-content").removeClass("hidden");
    }



    function removeActive() {
        $("li").each(function () {
            $(this).removeClass("is-active");
        });
    }

    function hideAll() {
        $("#activities-tab-content").addClass("hidden");
        $("#deleted-tab-content").addClass("hidden");
        $("#stats-tab-content").addClass("hidden");

    }
</script>


<script src="../../javascript/linegraph.js" th:href="@{/linegraph.js}"/>

<script src="../../javascript/differenceGraph.js" th:href="@{/differenceGraph.js}"/>
<script src="../../javascript/patientIndexGraph.js" th:href="@{/patientIndexGraph.js}"/>
<script src="../../javascript/patientIndexDaysGraph.js" th:href="@{/patientIndexDaysGraph.js}"/>
<script src="../../javascript/patientIndexBeforeAfterAvgGraph.js" th:href="@{/patientIndexBeforeAfterAvgGraph.js}"/>

<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>

</body>
</html>