<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>MOODi</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css"/>


    <link rel="stylesheet" href="../static/css/newMaster.css" th:href="@{/css/newMaster.css}"/>
    <link rel="stylesheet" href="../static/css/small_calendar.css" th:href="@{/css/small_calendar.css}"/>
    <!--<link rel="stylesheet" href="../static/css/slidercss.css" th:href="@{/css/slidercss.css}"/>-->

    <link rel="stylesheet" href="../static/css/newSlider.css" th:href="@{/css/newSlider.css}"/>
    <link rel="stylesheet" href="../static/css/notificationSlider.css" th:href="@{/css/notificationSlider.css}"/>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css"/>

    <script src="../../javascript/mobile.js" th:href="@{/mobile.js}"/>
    <script src="../../javascript/Chart.min.js" th:href="@{/Chart.min.js}"/>
    <script src="../../javascript/js-url-2.5.0/url.js" th:href="@{/url.js}"></script>
    <script src="../../javascript/small_calendar.js" th:href="@{/small_calendar.js}"></script>


</head>
<body>
<section class="hero is-medium is-primary is-bold is-fixed-top">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <span class="icon">
                <i class="fa fa-heartbeat" aria-hidden="true"></i>
        </span>
                MOODi
            </h1>
            <h2 class="subtitle">
                Helping you feel better
            </h2>
        </div>
    </div>
</section>

<nav class="navbar has-shadow " role="navigation" aria-label="main navigation">
    <div class="navbar-brand">


        <button class="button navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    <div class="navbar-menu is-centered" id="navMenu">
        <a class="navbar-item" th:href="@{/patient/1/index}">
            <span class="icon">
                <i class="fa fa-home" aria-hidden="true"></i>
        </span>
            Dashboard
        </a>
        <a class="navbar-item" th:href="@{/patient/activities/1}">
             <span class="icon">
                <i class="fa fa-heartbeat" aria-hidden="true"></i>
        </span>
            Activities
        </a>
        <a class="navbar-item" th:href="@{/new/1/calendar}">
            <span class="icon">
                <i class="fa fa-calendar" aria-hidden="true"></i>

        </span>
            Calendar
        </a>
        <div class="navbar-end">

            <a class="navbar-item">
                <span class="icon">
                                    <i class="fa fa-cog" aria-hidden="true"></i>

        </span>

                Settings
            </a>


        </div>


        <!-- navbar-start, navbar-end... -->
    </div>
</nav>


<div class="tabs is-fullwidth">
    <ul>
        <li id="all-tab" class="is-active">
            <a onClick="switchToAll()">
                <span class="icon is-small"><i class="fa fa-clock-o"></i></span>
                <span>Upcoming</span>
            </a>
        </li>
        <li id="adaptivedesign-tab">
            <a onClick="switchToAdaptiveDesign()">
                <span class="icon is-small"><i class="fa fa-star"></i></span>
                <span>Favourites</span>
            </a>
        </li>
        <li id="jquery-tab">
            <a onClick="switchToJquery()">
                <span class="icon is-small"><i class="fa fa-plus"></i></span>
                <span>Create</span>
            </a>
        </li>
        <li id="ajax-tab">
            <a onClick="switchToAjax()">
                <span class="icon is-small"><i class="fa fa-history"></i></span>
                <span>History</span>
            </a>
        </li>

    </ul>
</div>

<div class="container">
    <div id="all-tab-content">
        <table class="table is-fullwidth  " id="upcomingTab" th:each="activities : ${upcoming}">
            <tbody>
            <tr class="accordion is-primary">
                <td class="is-size-1" th:text="${activities.name} " id="upcomingTabRow">This is the header</td>
                <!--<td class="is-size-1"    th:text="${activities.activityDate}"> </td>-->
            </tr>
            <tr>
                <th><span><i class="fa fa-clock-o has-text-danger" aria-hidden="true"></i> </span>
                    <span th:text="${activities.activityDate} "> </span>
                </th>
            </tr>

            <tr>
                <!--<td th:text="${activities.activityDate}">data</td>-->
                <th class="iconHolder"><a href="#" onclick="showFavouriteModal()"
                                          th:onclick="'javascript:showFavouriteModal(\'' + ${activities.id} + '\');'">
                    <i class="fa fa-star has-text-warning" id="favouriteIcon" aria-hidden="true"></i></a></th>
                <th class="iconHolder"><a href="#" onclick="showModal()"
                                          th:onclick="'javascript:showModal(\'' + ${activities.id} + '\');'"> <i
                        class="fa fa-check has-text-primary" aria-hidden="true" id="rate_modal_button"></i></a>
                </th>
                <th class="iconHolder"><a href="#" onclick="showEditModal()"
                                          th:onclick="'javascript:showEditModal(\'' + ${activities.id} + '\');'">
                    <i class="fa fa-cog has-text-dark" id="cog" aria-hidden="true"></i></a></th>
                <th class="iconHolder"><a href="#" onclick="showDeleteModal()"
                                          th:onclick="'javascript:showDeleteModal(\'' + ${activities.id} + '\');'">
                    <i class="fa fa-trash has-text-danger" id="trash" aria-hidden="true"></i></a></th>


                <td th:if="${activities.ratingBefore == 1}"><img src="/images/emojis/VerySad.png" style="width: 32px; height: 32px;" /></td>
                <td th:if="${activities.ratingBefore == 2}"><img src="/images/emojis/Upset.png" style="width: 32px; height: 32px;" /></td>
                <td th:if="${activities.ratingBefore == 3}"><img src="/images/emojis/Sad.png" style="width: 32px; height: 32px;" /></td>
                <td th:if="${activities.ratingBefore == 4}"><img src="/images/emojis/Neutral.png" style="width: 32px; height: 32px;" /></td>
                <td th:if="${activities.ratingBefore == 5}"><img src="/images/emojis/Happy.png" style="width: 32px; height: 32px;" /></td>
                <td th:if="${activities.ratingBefore == 6}"><img src="/images/emojis/VeryHappy.png" style="width: 32px; height: 32px;" /></td>

            </tr>
            </tbody>
        </table>

    </div>
    <div class="hidden" id="adaptivedesign-tab-content">
        <table class="table is-bordered is-striped is-narrow is-fullwidth" id="favouritesTable">
            <tr id="desktopTrOnly">
                <th>Activity Name</th>
                <th> Remove</th>
            </tr>
            <tr th:each="activities : ${favourite}">
                <td th:text="${activities.name}"> Test</td>
                <td class="iconHolder"><a href="#" onclick="showUnFavouriteModal()"
                                          th:onclick="'javascript:showUnFavouriteModal(\'' + ${activities.id} + '\');'">
                    <i class="fa fa-ban has-text-danger" id="ban" aria-hidden="true"></i></a></td>

            </tr>
        </table>
    </div>

    <div class="hidden" id="jquery-tab-content">
        <form class="activityForm" method="POST" action="/api/patient/1/activities/create">
            <div class="field">
                <label class="label">Give your activity a name and date</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" name="activityName" id="activity_name" placeholder="Activity Name"
                           value=""/>
                    <span class="icon is-small is-left">
                        <i class="fa fa-heartbeat"></i>
                     </span>
                    <span class="icon is-small is-right">
                        <i class="fa fa-check"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <div class="control has-icons-left has-icons-right">
                    <input class="input date-calenddar" type="date" name="date" id="activity_date" placeholder="Date and Time"
                           value=""/>
                    <span class="icon is-left">
                        <i class="fa fa-calendar"></i>
                        </span>
                    <span class="icon is-right">
                          <i class="fa fa-check"></i>
                        </span>
                </div>
            </div>
            <div class="field">
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="time" name="time" id="activity_time" placeholder="00:00"
                           value=""/>
                    <span class="icon is-left">
                        <i class="fa fa-calendar"></i>
                        </span>
                    <span class="icon is-right">
                          <i class="fa fa-check"></i>
                        </span>
                </div>
            </div>

            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button class="button is-info" type="submit" id="edit_button">
                            Create Activity
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>


    <div class="hidden" id="ajax-tab-content">
        <table class="table is-bordered is-striped is-narrow is-fullwidth" id="historyTable">
            <tr id="desktopTrOnly">
                <th>Activity Name</th>
                <th>Date</th>
                <th>Rating Before</th>
                <th>Rating After</th>
            </tr>
            <tr th:each="activities : ${history}">
                <td th:text="${activities.name}"> Test</td>
                <td th:text="${activities.activityDate}">Test</td>
                <!--<td th:text="${activities.ratingBefore}">Test</td>-->
                <!--<td th:text="${activities.ratingAfter}">Test</td>-->
                <td th:if="${activities.ratingBefore == 1}"><img src="/images/emojis/VerySad.png" style="width: 32px; height: 32px;" /></td>
                <td th:if="${activities.ratingBefore == 2}"><img src="/images/emojis/Upset.png" style="width: 32px; height: 32px;" /></td>
                <td th:if="${activities.ratingBefore == 3}"><img src="/images/emojis/Sad.png" style="width: 32px; height: 32px;" /></td>
                <td th:if="${activities.ratingBefore == 4}"><img src="/images/emojis/Neutral.png" style="width: 32px; height: 32px;" /></td>
                <td th:if="${activities.ratingBefore == 5}"><img src="/images/emojis/Happy.png" style="width: 32px; height: 32px;" /></td>
                <td th:if="${activities.ratingBefore == 6}"><img src="/images/emojis/VeryHappy.png" style="width: 32px; height: 32px;" /></td>


                <td th:if="${activities.ratingAfter == 1}"><img src="/images/emojis/VerySad.png" style="width: 32px; height: 32px;" /></td>
                <td th:if="${activities.ratingAfter == 2}"><img src="/images/emojis/Upset.png" style="width: 32px; height: 32px;" /></td>
                <td th:if="${activities.ratingAfter == 3}"><img src="/images/emojis/Sad.png" style="width: 32px; height: 32px;" /></td>
                <td th:if="${activities.ratingAfter == 4}"><img src="/images/emojis/Neutral.png" style="width: 32px; height: 32px;" /></td>
                <td th:if="${activities.ratingAfter == 5}"><img src="/images/emojis/Happy.png" style="width: 32px; height: 32px;" /></td>
                <td th:if="${activities.ratingAfter == 6}"><img src="/images/emojis/VeryHappy.png" style="width: 32px; height: 32px;" /></td>

            </tr>
        </table>
    </div>


</div>

<div class="modal" id="favouriteModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head is-primary">
            <span class="icon">
                            <i class="fa fa-star has-text-warning	" aria-hidden="true"></i>
                        </span>
            <p class="modal-card-title">Favourite?</p>
            <button class="delete" aria-label="close" id="closeBtnFavourites"></button>
        </header>
        <section class="modal-card-body">
            <p> Any activity you favourite will be shown in the favourites tab</p>
        </section>
        <input type="hidden" name="selected_favourite_activity_id" id="selected_favourite_activity_id" value=""/>

        <footer class="modal-card-foot">
            <button class="button is-info" id="favourite_button" type="submit" onclick="favouriteActivity()">Favourite
                Activity
            </button>
        </footer>
    </div>
</div>

<div class="modal" id="unfavouriteModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head is-primary">
            <span class="icon">
                            <i class="fa fa-star has-text-warning	" aria-hidden="true"></i>
                        </span>
            <p class="modal-card-title">Are you sure</p>
            <button class="delete" aria-label="close" id="unfavouriteModalClose"></button>
        </header>
        <section class="modal-card-body">

        </section>
        <input type="hidden" name="selected_unFavourite_activity_id" id="selected_unFavourite_activity_id" value=""/>

        <footer class="modal-card-foot">
            <button class="button is-warning" id="unFavourite_button" type="submit" onclick="unFavouriteActivity()">
                Remove
            </button>
        </footer>
    </div>
</div>

<div class="modal" id="editModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head is-primary">
            <span class="icon">
                            <i class="fa fa-cog has-text-dark	" aria-hidden="true"></i>
                        </span>
            <p class="modal-card-title">Edit?</p>
            <button class="delete" aria-label="close" id="closeBtnEdit"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" name="date" id="activityDate" placeholder="Date and Time"
                           value=""/>
                    <span class="icon is-left">
                        <i class="fa fa-calendar"></i>
                        </span>
                    <span class="icon is-right">
                          <i class="fa fa-check"></i>
                        </span>
                </div>
            </div>
        </section>
        <input type="hidden" name="selected_favourite_activity_id" id="selected_edit_activity_id" value=""/>

        <footer class="modal-card-foot">
            <button class="button is-info" id="editActivityBtn" onclick="editActivity()">Save changes</button>
        </footer>
    </div>
</div>

<div class="modal" id="deleteModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head is-primary">
            <span class="icon">
                            <i class="fa fa-trash has-text-danger	" aria-hidden="true"></i>
                        </span>
            <p class="modal-card-title">Are you sure?</p>
            <button class="delete" aria-label="close" id="deleteModalClose"></button>
        </header>
        <section class="modal-card-body">
            <p> Any activities that you remove will be permanently deleted, and wont be viewable
                from your history tab. </p>
        </section>
        <input type="hidden" name="selected_delete_activity_id" id="selected_delete_activity_id" value=""/>

        <footer class="modal-card-foot">
            <button class="button is-danger" id="delete_button" type="submit" onclick="deleteActivity()">Delete</button>
        </footer>
    </div>
</div>

<div class="modal" id="rateModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head is-primary">
            <span class="icon">
                            <i class="fa fa-bar-chart has-text-primary is-size-1	" aria-hidden="true"></i>
                        </span>
            <p class="modal-card-title has-text-centered">Rate your activity</p>
            <button class="delete" aria-label="close" id="rateModalClose"></button>
        </header>
        <section class="modal-card-body">
            <div class="level">
                <div class="level-item">
                    <p> <span class="icon">
                            <i class="fa fa-exclamation has-text-danger is-size-3	" aria-hidden="true"></i>
                        </span> Tap the colour that matches how you feel right now</p>
                </div>
            </div>
            <div class="range-slider" id="range-slider-1">
                <span></span>
            </div>
            <div class="test-result" id="test-result">Very Happy</div>
            <div class="level">

                <div class="level-item">

                <div class="modal-wrapper result-emoji-wrapper">
                <img src="../static/images/emojis/happy.png" th:src="@{/images/emojis/Happy.png}" id="result-emoji"/>
            </div>
                </div>
            </div>

        </section>
        <input type="hidden" name="selected_activity_id" id="selected_activity_id" value=""/>

        <footer class="modal-card-foot">
            <button class="button is-info" id="complete_button" type="submit" onclick="markActivityAsComplete()">
                Rate
            </button>
        </footer>
    </div>
</div>

<div class="modal" id="notificationModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head is-primary">
            <span class="icon">
                            <i class="fa fa-exclamation has-text-danger is-size-1	" aria-hidden="true"></i>
                        </span>
            <div id="NotificationDom"></div>

            <p class="modal-card-title has-text-centered">Notification</p>
            <button class="delete" aria-label="close" id="notificationModalClose"></button>
        </header>
        <section class="modal-card-body">
            <div class="level">

                <div class="level-item">

                    <p> <span class="icon">
                            <i class="fa fa-clock-o has-text-dark is-size-3	" aria-hidden="true"></i>
                        </span> Your activity is coming up in 10 minutes</p>
                </div>
            </div>
            <div class="range-slider-x" id="range-slider-x">
                <span></span>
            </div>
            <div class="test-result-x" id="test-result-x">Very Happy</div>

            <div class="level">

                <div class="level-item">

                    <div class="modal-wrapper result-emoji-wrapper">
                        <img src="../static/images/emojis/happy.png" th:src="@{/images/emojis/Happy.png}" id="result-emoji-x"/>
                    </div>
                </div>
            </div>

        </section>
        <input type="hidden" name="ratingBefore" id="notificationId" value="" />
        <footer class="modal-card-foot">
            <button class="button is-info" id="completeButton" type="submit" onclick="sendRatingBefore()">
                Rate
            </button>
        </footer>
    </div>
</div>

<div class="modal" id="notificationMissed">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head is-primary">
            <span class="icon">
                            <i class="fa fa-exclamation has-text-danger is-size-1	" aria-hidden="true"></i>
                        </span>
            <div id="NotificationDomTwo"></div>

            <p class="modal-card-title has-text-centered">Notification</p>
            <button class="delete" aria-label="close" id="notificationMissedModalClose"></button>
        </header>
        <section class="modal-card-body">
            <div class="level">

                <div class="level-item">

                    <p> <span class="icon">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>

                        </span> It seems that you missed an activity, what do you want to do with it?</p>
                </div>
            </div>

            <div class="tabs is-fullwidth">
                <ul>
                    <li id="edit-tab" class="is-active">
                        <a onClick="switchToEdit()">
                            <span class="icon is-small"><i class="fa fa-cog"></i></span>
                            <span>Edit</span>
                        </a>
                    </li>
                    <li id="delete-tab">
                        <a onClick="switchToDelete()">
                            <span class="icon is-small"><i class="fa fa-trash"></i></span>
                            <span>Delete</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div id="edit-tab-content" class="is-active" >

                <div class="level">
                    <div class="level-item">
                        <div class="field">
                            <div class="control has-icons-left has-icons-right">
                                <input class="input" type="text" name="date" id="activDate" placeholder="Date and Time"
                                       value=""/>
                                <span class="icon is-left">
                        <i class="fa fa-calendar"></i>
                        </span>
                                <span class="icon is-right">
                          <i class="fa fa-check"></i>
                        </span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="notificationIdMissed" id="notificationIdMissed" value="" />

                    <div class="level-item">

                    <button class="button is-info" id="editActivityBtnMissed" onclick="editActivityMissed()">
                        Edit


                </button>

                    </div>
                </div>
            </div>

            <div id="delete-tab-content" class="hidden">

                <div class="level">
                <div class="level-item">
                <p> Delete this activity?</p>
                </div>

                <div class="level-item">
                    <button class="button is-danger" id="deleteActivityMissedBtn" onclick="deleteActivityMissed()">
                        Delete
                    </button>

                </div>
                </div>
            </div>



        </section>
        <footer class="modal-card-foot">

        </footer>
    </div>
</div>
<div id="calendar-wrapper"></div>
<script>
    $(document).ready(function() {
        initialiseCalendar('calendar-wrapper');
    });
</script>
<script>

    function switchToEdit() {
        removeActive();
        hideAll();
        $("#edit-tab").addClass("is-active");
        $("#edit-tab-content").removeClass("hidden");
    }

    function switchToDelete() {
        removeActive();
        hideAll();
        $("#delete-tab").addClass("is-active");
        $("#delete-tab-content").removeClass("hidden");
    }
    function switchToAll() {
        removeActive();
        hideAll();
        $("#all-tab").addClass("is-active");
        $("#all-tab-content").removeClass("hidden");
    }

    function switchToAdaptiveDesign() {
        removeActive();
        hideAll();
        $("#adaptivedesign-tab").addClass("is-active");
        $("#adaptivedesign-tab-content").removeClass("hidden");
    }

    function switchToJquery() {
        removeActive();
        hideAll();
        $("#jquery-tab").addClass("is-active");
        $("#jquery-tab-content").removeClass("hidden");
    }

    function switchToAjax() {
        removeActive();
        hideAll();
        $("#ajax-tab").addClass("is-active");
        $("#ajax-tab-content").removeClass("hidden");
    }


    function removeActive() {
        $("li").each(function () {
            $(this).removeClass("is-active");
        });
    }

    function hideAll() {
        $("#edit-tab-content").addClass("hidden");
        $("#delete-tab-content").addClass("hidden");


        $("#all-tab-content").addClass("hidden");
        $("#adaptivedesign-tab-content").addClass("hidden");
        $("#jquery-tab-content").addClass("hidden");
        $("#ajax-tab-content").addClass("hidden");
        $("#angularjs-tab-content").addClass("hidden");
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {

        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(function ($el) {
                $el.addEventListener('click', function () {

                    // Get the target from the "data-target" attribute
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);

                    // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>

<script th:inline="javascript">

</script>

<script th:inline="javascript">

    $(function () {
        $("#upcomingTab tr:not(.accordion)").hide();
        $("#upcomingTab tr:first-child").show();

        $("#upcomingTab tr.accordion").click(function () {
            $(this).nextAll("tr").toggle(100);
        }).eq(0).trigger('click');
    });
</script>


<script th:inline="javascript">


    $('#notificationModal').bind('DOMNodeInserted DOMNodeRemoved', function() {
        document.getElementById('notificationModal').style.display = "block";



    });

    document.getElementById("notificationModalClose").onclick = function() {
        document.getElementById('notificationModal').style.display="none";
    }

</script>


<script th:inline="javascript">


    $('#notificationMissed').bind('DOMNodeInserted DOMNodeRemoved', function() {
        document.getElementById('notificationMissed').style.display = "block";



    });

    document.getElementById("notificationMissedModalClose").onclick = function() {
        document.getElementById('notificationMissed').style.display="none";
    }

</script>

<script th:inline="javascript">
    function openModalMissed() {

        document.getElementById('notificationMissed').style.display ="block";
    }
</script>
<script src="../static/app.js " th:src="@{/app.js}"></script>







<script src="../static/rateModal.js " th:src="@{/rateModal.js}"></script>
<!--<script src="../../javascript/newSlider.js" th:href="@{/newsSlider.js}"/>-->
<script src="../../javascript/slider.js" th:href="@{/slider.js}"/>
<script src="../../javascript/sliderNotification.js" th:href="@{/sliderNotification.js}"/>


<script src="../static/editModal.js " th:src="@{/editModal.js}"></script>
<script src="../static/unFavouriteModal.js " th:src="@{/unFavouriteModal.js}"></script>
<script src="../static/deleteModal.js " th:src="@{/deleteModal.js}"></script>
<script src="../static/favouriteModal.js " th:src="@{/favouriteModal.js}"></script>
<script src="../static/functions.js " th:src="@{/functions.js}"></script>

<script src="../static/tabs.js " th:src="@{/tabs.js}"></script>
<script src="../static/w3tabs.js " th:src="@{/w3tabs.js}"></script>

<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>

</body>
</html>