<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>MOODi</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css"/>


    <link rel="stylesheet" href="../static/css/newMaster.css" th:href="@{/css/newMaster.css}"/>


    <script src="../../javascript/mobile.js" th:href="@{/mobile.js}"/>
    <script src="../../javascript/Chart.min.js" th:href="@{/Chart.min.js}"/>
    <script src="../../javascript/js-url-2.5.0/url.js" th:href="@{/url.js}"></script>


</head>

<section class="hero is-medium is-primary is-bold is-fixed-top">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <span class="icon">
                <i class="fa fa-heartbeat" aria-hidden="true"></i>
        </span>
                MOODi
            </h1>
            <h2 class="subtitle">
                Helping you feel better
            </h2>
        </div>
    </div>
</section>

<nav class="navbar has-shadow " role="navigation" aria-label="main navigation">
    <div class="navbar-brand">


        <button class="button navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    <div class="navbar-menu is-centered" id="navMenu">
        <a class="navbar-item">
            <span class="icon">
                <i class="fa fa-home" aria-hidden="true"></i>
        </span>
            Dashboard
        </a>
        <a class="navbar-item" th:href="@{/patient/activities/1}">
             <span class="icon">
                <i class="fa fa-heartbeat" aria-hidden="true"></i>
        </span>
            Activities
        </a>
        <a class="navbar-item">
            <span class="icon">
                <i class="fa fa-calendar" aria-hidden="true"></i>

        </span>
            Calendar
        </a>
        <div class="navbar-end">

            <a class="navbar-item">
                <span class="icon">
                                    <i class="fa fa-cog" aria-hidden="true"></i>

        </span>

                Settings
            </a>

            <a class="navbar-item">
                <img src="https://lh3.googleusercontent.com/rmURjEPHr_LM4Y-s7P9GYcUVysch6EDIBVRBqL4OuORZh_xpaEMco_ZhxVXYnttG-A=w300"
                     width="28" height="28"/>

                User
            </a>
        </div>


        <!-- navbar-start, navbar-end... -->
    </div>
</nav>
<body>


<div class="section">
    <div class="columns">



        <main class="column" id="main">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div class="title">Dashboard</div>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <button type="button" class="button is-small">
                            March 8, 2017 - April 6, 2017
                        </button>
                    </div>
                </div>
            </div>

            <div class="columns is-multiline">
                <div class="column">
                    <div class="box notification" id="upcomingBox" onclick="upcomingModalOpen()"
                         th:onclick="'javascript:upcomingModalOpen()'">
                        <div class="title is-1 has-text-right	">
                        <span class="icon">
                            <i class="fa fa-exclamation-circle has-text-danger	" aria-hidden="true"></i>
                        </span>
                        </div>
                        <div class="heading is-right">Coming Up</div>
                        <div class="title is-1" th:text="${upcomingActivities}">#</div>

                    </div>
                </div>
                <div class="column">
                    <div class="box notification ">
                        <div class="title is-1 has-text-right	">
                        <span class="icon">
                            <i class="fa fa-bar-chart has-text-info	" aria-hidden="true"></i>
                        </span>
                        </div>
                        <div class="heading is-right">Average Score</div>
                        <div class="title is-1" th:text="${avgRating} ">#</div>

                    </div>
                </div>
                <div class="column">
                    <div class="box notification ">
                        <div class="title is-1 has-text-right	">
                        <span class="icon">
                            <i class="fa fa-pie-chart has-text-primary	" aria-hidden="true"></i>
                        </span>
                        </div>
                        <div class="heading is-right">Completion Rate</div>
                        <div class="title is-1" th:text="|${percent} %|">#</div>

                    </div>
                </div>
                <div class="column">
                    <div class="box notification" id="favouritesBox" onclick="favouritesModalOpen()"
                         th:onclick="'javascript:favouritesModalOpen()'">
                        <div class="title is-1 has-text-right	">
                        <span class="icon">
                            <i class="fa fa-heart has-text-warning	" aria-hidden="true"></i>
                        </span>
                        </div>
                        <div class="heading is-right">Favourites</div>
                        <div class="title is-1" th:text="${favouriteCount}">#</div>

                    </div>
                </div>
            </div>

            <div class="columns is-multiline">
                <div class="column">
                    <div class="box notification ">
                        <div class="title is-1 has-text-right	">
                        <span class="icon">
                            <i class="fa fa-check has-text-primary	" aria-hidden="true"></i>
                        </span>
                        </div>
                        <div class="heading is-right">Completed</div>
                        <div class="title is-1" th:text="${completedCount}">#</div>

                    </div>
                </div>
                <div class="column">
                    <div class="box notification ">
                        <div class="title is-1 has-text-right	">
                        <span class="icon">
                            <i class="fa fa-thumbs-up has-text-info	" aria-hidden="true"></i>
                        </span>
                        </div>
                        <div class="heading is-right">Positive Activities</div>
                        <div class="title is-1" th:text="${positiveActivity}">#</div>

                    </div>
                </div>
                <div class="column">
                    <div class="box notification ">
                        <div class="title is-1 has-text-right	">
                        <span class="icon">
                            <i class="fa fa-thumbs-down has-text-warning	" aria-hidden="true"></i>
                        </span>
                        </div>
                        <div class="heading is-right">Negative Activities</div>
                        <div class="title is-1" th:text="${negativeActivity}">#</div>

                    </div>
                </div>
                <div class="column">
                    <div class="box notification">
                        <div class="title is-1 has-text-right	">
                        <span class="icon">
                            <i class="fa fa-trash has-text-danger	" aria-hidden="true"></i>
                        </span>
                        </div>
                        <div class="heading is-right">Deleted</div>
                        <div class="title is-1" th:text="${totalDeleted}">#</div>

                    </div>
                </div>
            </div>

            <div class="columns is-multiline ">
                <div class="column is-6 ">
                    <div class="panel ">
                        <p class="panel-heading has-text-centered	is-uppercase	">
                            Your last 3 activities
                        </p>
                        <div class="panel-block">
                            <div class="chart-container">
                                <canvas id="indexGraph"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="panel">
                        <p class="panel-heading has-text-centered is-uppercase		">
                            Overall activities by day
                        </p>
                        <div class="panel-block">
                            <div class="chart-container">
                                <canvas id="indexGraphDays"></canvas>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="column is-6">
                    <div class="panel is-mobile">
                        <p class="panel-heading has-text-centered	is-uppercase	">
                            What you generally feel before and after activities
                        </p>
                        <div class="panel-block">
                            <div class="chart-container">

                                <canvas id="indexGraphAverage"></canvas>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="panel">
                        <p class="panel-heading has-text-centered	is-uppercase	">
                            random graph
                        </p>
                        <div class="panel-block">
                            <div class="chart-container">
                            <canvas id="differenceGraph"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div class="modal" id="upcomingModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Upcoming Activities</p>
            <button class="delete" aria-label="close" th:onclick="'javascript:upcomingModalClose()'"
                    onclick="upcomingModalClose()"></button>
        </header>
        <section class="modal-card-body">
            <table class="table is-fullwidth" id="upcomingModalTable">
                <tr id="desktopTrOnly">
                    <th>Activity Name</th>
                    <th>Date</th>

                </tr>
                <tr th:each="activities : ${upcoming}">
                    <td th:text="${activities.name}"> Test</td>
                    <td th:text="${activities.activityDate}">Test</td>
                </tr>
            </table>
        </section>
        <footer class="modal-card-foot">


        </footer>
    </div>
</div>

<div class="modal" id="favouritesModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Favourite Activities</p>
            <button class="delete" aria-label="close" th:onclick="'javascript:favouritesModalClose()'"
                    onclick="favouritesModalClose()"></button>
        </header>
        <section class="modal-card-body">
            <table class="table is-fullwidth is-bordered is-centered">
                <tr>
                    <th>Favourite Activities</th>
                </tr>
                <tr th:each="activities : ${favourite}">
                    <td th:text="${activities.name}"> Test</td>
                </tr>
            </table>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" th:onclick="'javascript:favouritesModalClose()'"
                    onclick="favouritesModalClose()">Ok
            </button>

        </footer>
    </div>
</div>
<script>
    function upcomingModalOpen() {
        document.getElementById("upcomingModal").style.display = "block";
    }

    function upcomingModalClose() {
        document.getElementById("upcomingModal").style.display = "none";
    }
</script>

<script>
    function favouritesModalOpen() {
        document.getElementById("favouritesModal").style.display = "block";
    }

    function favouritesModalClose() {
        document.getElementById("favouritesModal").style.display = "none";
    }
</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {

        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(function ($el) {
                $el.addEventListener('click', function () {

                    // Get the target from the "data-target" attribute
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);

                    // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>

<script src="../../javascript/differenceGraph.js" th:href="@{/differenceGraph.js}"/>
<script src="../../javascript/patientIndexGraph.js" th:href="@{/patientIndexGraph.js}"/>
<script src="../../javascript/patientIndexDaysGraph.js" th:href="@{/patientIndexDaysGraph.js}"/>
<script src="../../javascript/patientIndexBeforeAfterAvgGraph.js" th:href="@{/patientIndexBeforeAfterAvgGraph.js}"/>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>

</body>
</html>