<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Slide</title>
    <link rel="stylesheet" href="../static/master.css" th:href="@{/master.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>

<header>
    <div th:replace="fragments/header :: header"></div>
</header>




</body>
</html>