<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Patient Record</title>
    <link rel="stylesheet" href="../static/patients.css" th:href="@{/patients.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>

<header>
    <div th:replace="fragments/header :: header"></div>
</header>


<div th:replace="fragments/navbar :: navbar"></div>

<main id="main" class="main">
    <div class="container">
        <div class="box effect">
            <table class="patientTable">
                <tr>
                    <th>ID</th>
                    <th>NHS NO#</th>
                    <th>Name</th>
                    <th>Surname</th>


                </tr>
                <tr>
                    <td th:text="${records.id}"> Test</td>
                    <td th:text="${records.nhsnumber}"> Test</td>
                    <td th:text="${records.firstname}">Test</td>
                    <td th:text="${records.lastname}">Test</td>




                </tr>
            </table>
        </div>
    </div>
</main>
<script>

    // $('#menu-toggle,#menu-overlay').click(function(){
    //   $('body').toggleClass('open-menu');
    // });

    //    $('#main-nav li a').click(function(){
    //        $('#main-nav li').removeClass('active');
    //        $(this).parent().addClass('active')
    //    });



    function togNav() {
        var nav = document.getElementById("sidenav");
        var main = document.getElementById("main");

        if (nav.style.width == '250px') {
            nav.style.width = '0';
            main.style.marginLeft = 0;

        } else {
            nav.style.width = "250px";
            main.style.marginLeft = '250px';
        }
    }









</script>

</body>
</html>