<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Patients list</title>
    <link rel="stylesheet" href="../static/gg.css" th:href="@{/gg.css}"/>
    <!--<link rel="stylesheet" href="../static/navbar.css" th:href="@{/navbar.css}"/>-->

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
</head>
<body>

<div class ="container">
    <div th:if="${not #lists.isEmpty(patients)}">
        <table>
            <tr>
                <th>id</th>
                <th>firstname</th>
                <th>lastname</th>
            </tr>
            <tr th:each="patient : ${patients}">
                <td th:text="${patient.id}"></td>
                <td th:text="${patient.firstname}"></td>
                <td th:text="${patient.lastname}"></td>

            </tr>
        </table>
    </div>
</div>

</body>
</html>