<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Activities</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../static/master.css" th:href="@{/master.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>






<body class="activitiesBody">

<header>
    <div th:replace="fragments/header :: header"></div>

    <!--<div class="topBar" th:fragment="header">-->
        <!--<div class="holder" id="logoHolder">-->
            <!--<div class="companyHolder">-->
                <!--<p><i class="fa fa-heartbeat"></i>-->
                    <!--MOODi </p>-->
            <!--</div>-->


        <!--</div>-->



        <!--<div class="holder">-->
            <!--<i id="open-menu" class="fa fa-bars toggleMenu" onclick="togNav()"> </i>-->
        <!--</div>-->

        <!--<div class="holder" id="pageTitle">-->
            <!--<div class="pageTitle">-->
                <!--<h3 id="titleChange"> Activities-->
                <!--</h3>-->
            <!--</div>-->


        <!--</div>-->

        <!--<div class="holder" id="langHolder">-->
            <!--<div class="languageSelect">-->

                <!--<p><img src="https://cdn4.iconfinder.com/data/icons/world-flags-5-1/100/Britain-128.png"/>-->
                    <!--ENG                 <i class="fa fa-caret-down" aria-hidden="true"></i>-->
                <!--</p>-->


            <!--</div>-->
        <!--</div>-->

        <!--<div class="holder" id="userHolder">-->
            <!--<div class="loggedInUser">-->
                <!--<p>                 <i class="fa fa-user-circle-o" aria-hidden="true"></i>-->

                    <!--Jane Smith </p>-->



            <!--</div>-->
        <!--</div>-->


    <!--</div>-->
</header>

<div th:replace="fragments/patientSideMenu :: patientSideMenu"></div>

<!--<div id="sidenav" th:fragment="patientSideMenu">-->
    <!--&lt;!&ndash;<div class="logo" th:style="'background:url('+ @{/static/bg2.jpg} +');'">&ndash;&gt;-->
        <!--&lt;!&ndash;<p class="welcome"> Welcome John Smith </p>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--<ul id="main-nav" class="nav">-->
        <!--<div class="userSection">-->
            <!--<div class="imageWrapper">-->
                <!--<div class="userImageWrapper">-->
                    <!--<img src="https://lh3.googleusercontent.com/rmURjEPHr_LM4Y-s7P9GYcUVysch6EDIBVRBqL4OuORZh_xpaEMco_ZhxVXYnttG-A=w300"/>-->
                <!--</div>-->
                <!--<div class="userTitle">-->
                    <!--<p id="userTitle"> <i class="fa fa-user-circle-o" aria-hidden="true"></i>-->
                        <!--Jane Smith</p>-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<li class="liSection">-->
            <!--<p>-->
                <!--MAIN-->
            <!--</p>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="patientIndex.html" th:href="@{/patient/index}" >-->
                <!--<i class="fa fa-th-large"></i>-->
                <!--Dashboard-->
            <!--</a>-->
        <!--</li>-->



        <!--<li>-->
            <!--<a href="patientActivities.html" th:href="@{/patient/activities/1}" onclick="myFunction()">-->
                <!--<i class="fa fa-heartbeat"></i>-->
                <!--Activities-->
                <!--<div class="notificationWrapper">-->
                    <!--<div class="notificationNav">-->
                        <!--<p>-->
                            <!--3-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</li>-->

        <!--<li class="liSection">-->
            <!--<p>-->
                <!--EXTRAS-->
            <!--</p>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="#">-->
                <!--<i class="fa fa-wrench"></i>-->
                <!--Settings-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="#">-->
                <!--<i class="fa fa-calendar"></i>-->
                <!--Calendar-->
                <!--<div class="notificationWrapper">-->
                    <!--<div class="notificationNav">-->
                    <!--<p id="calanderNotification">-->
                        <!--5-->
                    <!--</p>-->
                <!--</div>-->
                <!--</div>-->
            <!--</a>-->

        <!--</li>-->
        <!--<li>-->
            <!--<a href="#">-->
                <!--<i class="fa fa-power-off"></i>-->
                <!--Logout-->
            <!--</a>-->
        <!--</li>-->
    <!--</ul>-->

<!--</div>-->

<div class="activityContainer">

<main class="main" id="main">

    <div class="activityBoxes">
        <div class="boxContainer">
            <div class="activityUpcoming">
                <div class="boxIcon">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>


                </div>
                <h2 th:text="${upcomingActivities}"> # </h2>
                <p> upcoming activities </p>
                <div id="r"></div>

            </div>
        </div>

        <div class="boxContainer">
            <div class="activityAvg">
                <div class="boxIcon">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>


                </div>
                <h2 th:text="${avgRating}">    #
                </h2>
                <p> Average activity score</p>
                <p id="demo"></p>

            </div>
        </div>

        <div class="boxContainer">
            <div class="completionRate">
                <div class="boxIcon">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i>

                </div>
                <!--<h2 class="inline" th:text="${completedCount}"> # </h2> <p class="inline"> of </p> <h2 class="inline" th:text="${totalCreated}" > #</h2>-->
                <h2 class="inline" th:text="${percent}"> </h2> <h2 class="inline"> % </h2>
                <p> Completion rate</p>
            </div>
        </div>

            <div class="boxContainer">
                <div class="avgTime">
                    <div class="boxIcon">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                    <h2 th:text="${completedCount}"> # </h2>

                    <p> Completed activities</p>
                </div>
            </div>
        </div>


    <div class="tabContainer">


        <div id="tabs" class="c-tabs">
        <div class="c-tabs-nav">
            <!--/patient/test/test/{id}/test/{isCompleted}-->
            <!--th:href="@{'/patient/history' + ${patient.id}}"-->
            <a href="#"   class="c-tabs-nav__link is-active"><i class="fa fa-clock-o" aria-hidden="true"></i>
                Upcoming</a>
            <a href="#"   class="c-tabs-nav__link"><i class="fa fa-star" aria-hidden="true"></i>
                Favourites</a>
            <a href="#" class="c-tabs-nav__link"><i class="fa fa-plus-circle" aria-hidden="true"></i>
                Create</a>
            <a href="#" class="c-tabs-nav__link"><i class="fa fa-history" aria-hidden="true"></i> History</a>



            <div class="c-tab-nav-marker"></div>
        </div>


        <div class="c-tab is-active">
            <div class="c-tab__content">
                <div class="container">
                <table class="upcomingTable">
                    <tr>
                        <th>Activity Name</th>
                        <th>Date</th>
                        <th>Before rating</th>
                        <th> Favourite</th>
                        <th>Mark as completed</th>
                        <th>Edit</th>
                        <th>Delete</th>

                    </tr>
                    <tr th:each="activities : ${upcoming}">
                        <td th:text="${activities.name}"> Test</td>
                        <td th:text="${activities.activityDate}">Test</td>
                        <td th:text="${activities.ratingBefore}">Test</td>
                        <td class="iconHolder"><a href="#" onclick="showFavouriteModal()" th:onclick="'javascript:showFavouriteModal(\'' + ${activities.id} + '\');'"> <i class="fa fa-star" id="favouriteIcon" aria-hidden="true"></i></a></td>

                        <td class="iconHolder"><a href="#" onclick="showModal()" th:onclick="'javascript:showModal(\'' + ${activities.id} + '\');'"> <i class="fa fa-check" aria-hidden="true" id="rate_modal_button"></i></a></td>
                        <td class="iconHolder"><a href="#"> <i class="fa fa-cog" id="cog"  aria-hidden="true" onclick="openFullScreenModalUpdate()"></i></a></td>
                        <td class="iconHolder"><a href="#" onclick="showDeleteModal()" th:onclick="'javascript:showDeleteModal(\'' + ${activities.id} + '\');'"> <i class="fa fa-trash" id="trash" aria-hidden="true"></i></a></td>
                        <!--<td class="goTo" id="activityButton"><a href="#" th:href="@{'/patient/' + ${patient.id} + '/activityList' }"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>                    </a></td>-->

                    </tr>






                </table>
                </div>
            </div>
        </div>

            <div class="c-tab">
                <div class="c-tab__content">
                    <div class="container">
                        <table class="upcomingTable">
                            <tr>
                                <th>Activity Name</th>

                                <th> Remove</th>


                            </tr>
                            <tr th:each="activities : ${favourite}">
                                <td th:text="${activities.name}"> Test</td>
                                <td class="iconHolder"><a href="#" onclick="showUnFavouriteModal()" th:onclick="'javascript:showUnFavouriteModal(\'' + ${activities.id} + '\');'"> <i class="fa fa-ban" id="ban" aria-hidden="true"></i></a></td>




                            </tr>






                        </table>
                    </div>
                </div>
            </div>

        <div class="c-tab">
            <div class="c-tab__content">
                <div class="formWrapper">

                <div class="formContainer">
                    <form  class="activityForm" method="POST" action="http://localhost:8080/api/patient/activities/create">
                        <div class="form-group">
                            <input type="text" name="activityName" id="activity_name" class="form-control" placeholder="Activity Name" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="date" id="activity_date" class="form-control" placeholder="Date and Time" value="" />
                        </div>
                        <button id="activitySubmitBtn" type="submit" class="btn btn-primary">Create Activity</button>
                    </form>
                </div>
            </div>
            </div>
        </div>

        <div class="c-tab">
            <div class="c-tab__content">
                <div class="container">
                    <table class="historyTable">
                        <tr>
                            <th>Activity Name</th>
                            <th>Date</th>
                            <th>Rating Before</th>
                            <th>Rating After</th>
                        </tr>
                        <tr  th:each="activities : ${history}">
                            <td th:text="${activities.name}"> Test</td>
                            <td th:text="${activities.activityDate}">Test</td>
                            <td th:text="${activities.ratingBefore}">Test</td>
                            <td th:text="${activities.ratingAfter}">Test</td>

                        </tr>




                    </table>

            </div>
            </div>
        </div>


        </div>
    </div>

    <div id="favourite_modal" class="deleteModal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="deleteCloseHolder">
                <span class="delete_close" id="favourite_close">&times;</span>
            </div>
            <div class="modal-body">

                <div class="modalSubtitle">
                    <p> Are you sure?</p>
                </div>
                <div class="formWrapper">

                    <div class="formContainer">
                        <!--<div class="modal-wrapper result-emoji-wrapper">-->
                        <!--Are you sure you want to delete this activity?-->
                        <!--</div>-->
                        <input type="hidden" name="selected_favourite_activity_id" id="selected_favourite_activity_id" value="" />
                        <div class="btnWrapper">
                            <button id="favourite_button" type="submit" onclick="favouriteActivity()">Favourite Activity</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>

    <div id="unFavourite_modal" class="deleteModal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="deleteCloseHolder">
                <span class="delete_close" id="unFavourite_close">&times;</span>
            </div>
            <div class="modal-body">

                <div class="modalSubtitle">
                    <p> Are you sure?</p>
                </div>
                <div class="formWrapper">

                    <div class="formContainer">
                        <!--<div class="modal-wrapper result-emoji-wrapper">-->
                        <!--Are you sure you want to delete this activity?-->
                        <!--</div>-->
                        <input type="hidden" name="selected_unFavourite_activity_id" id="selected_unFavourite_activity_id" value="" />
                        <div class="btnWrapper">
                            <button id="unFavourite_button" type="submit" onclick="unFavouriteActivity()">Un-Favourite Activity</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>


    <div id="rate_modal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="rateCloseHolder">
                <span class="rate_close" id="rate_close">&times;</span>
        </div>
            <div class="modal-body">
                <div class="modalTitle">
                    <p class="titleModal">Activity completion</p>
                </div>
                <div class="modalSubtitle">
                    <p> How did you feel about this activity?</p>
                </div>
                <div class="formWrapper">

                    <div class="formContainer">
                <div class="range-slider" id="range-slider-1">
                    <span></span>
                </div>
                <div class="test-result" id="test-result">Very Happy</div>
                <div class="modal-wrapper result-emoji-wrapper">
                    <img src="../static/images/emojis/happy.png" th:src="@{/images/emojis/Happy.png}" id="result-emoji"/>
                </div>
                <input type="hidden" name="selected_activity_id" id="selected_activity_id" value="" />
                <!--<div class="modal-wrapper">-->

                <div class="btnWrapper">
                <button id="complete_button" type="submit" onclick="markActivityAsComplete()"><i class="fa fa-check-circle-o"></i></button>
                <!--</div>-->
                </div>
                </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>

    <div id="delete_modal" class="deleteModal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="deleteCloseHolder">
                <span class="delete_close" id="delete_close">&times;</span>
            </div>
            <div class="modal-body">

                <div class="modalSubtitle">
                    <p> Are you sure?</p>
                </div>
                <div class="formWrapper">

                    <div class="formContainer">
                <!--<div class="modal-wrapper result-emoji-wrapper">-->
                    <!--Are you sure you want to delete this activity?-->
                <!--</div>-->
                <input type="hidden" name="selected_delete_activity_id" id="selected_delete_activity_id" value="" />
                <div class="btnWrapper">
                    <button id="delete_button" type="submit" onclick="deleteActivity()">Delete Activity</button>
                </div>
            </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>



    <div class="fullScreenModal" id="fullScreenUpdate">
        <a href="javascript:void(0)" class="closebtn" onclick="closeFullScreenModalUpdate()">&times;</a>
        <div class="modalTitle">
        <p class="titleModal">Editing Activity 1</p>
        </div>
        <div class="modalSubtitle">
            <p> Please fill in the new name and date</p>
        </div>

        <div class="formWrapper">

        <div class="formContainer">
            <form  class="activityForm" action="http://localhost:8080/api/patient/one/update"       th:method="put">
                <div class="form-group">
                    <input type="text" name="name" id="activity_name" class="form-control" placeholder="Activity Name" value="" />
                    <input type="hidden" name="_method" value="put"/>
                </div>
                <div class="form-group">
                    <input type="text" name="date" id="activity_date" class="form-control" placeholder="Date and Time e.g 20/11/2017 19:34" value="" />
                    <input type="hidden" name="_method" value="put"/>

                </div>
                <div class="btnWrapper">
                <button id="activitySubmitBtn" type="submit" class="btn btn-primary"><i class="fa fa-check-circle-o"></i>
                </button>
                </div>
            </form>
        </div>
        </div>

    </div>



<!--Credit to W3schools @ https://www.w3schools.com/howto/howto_css_modals.asp-->
    <!--Reference & Credit to Felix Franzen, Open Source CodePen
    @ https://codepen.io/Felixfranzen/pen/VjByqr?q=Tab+slider&limit=all&type=type-pens-->
</main>
</div>
<script src="../static/app.js" th:src="@{/app.js}"> </script>
<script src="../static/tabs.js "  th:src="@{/tabs.js}"></script>
<script src="../static/countdown.js "  th:src="@{/countdown.js}"></script>
<script src="../static/modal.js "  th:src="@{/modal.js}"></script>
<script src="../static/rateModal.js "  th:src="@{/rateModal.js}"></script>
<script src="../static/deleteModal.js "  th:src="@{/deleteModal.js}"></script>
<script src="../static/favouriteModal.js "  th:src="@{/favouriteModal.js}"></script>
<script src="../static/unFavouriteModal.js "  th:src="@{/unFavouriteModal.js}"></script>
<script src="../static/javascript/slider.js "  th:src="@{/javascript/slider.js}"></script>
<script src="../static/functions "  th:src="@{/functions.js}"></script>
<script src="../static/activeLi.js" th:src="@{/activeLi.js}"> </script>

<script>
    function openFullScreenModalUpdate() {
        document.getElementById("fullScreenUpdate").style.width = "100%";
    }

    function closeFullScreenModalUpdate() {
        document.getElementById("fullScreenUpdate").style.width = "0";
    }
</script>

<script>
    function openFullScreenModalRate() {
        document.getElementById("fullScreenUpdate").style.width = "100%";
    }

    function closeFullScreenModalRate() {
        document.getElementById("fullScreenUpdate").style.width = "0";
    }
</script>


<script>
    function togNav() {
        var nav = document.getElementById("sidenav");
        var main = document.getElementById("main");

        if (nav.style.width == '250px') {
            nav.style.width = '0';
            main.style.marginLeft = 0;

        } else {
            nav.style.width = "250px";
            main.style.marginLeft = '250px';
        }
    }

</script>


<div id="greetings" class="greetings">

    Notifications.


</div>

<script>
    $('#greetings').bind('DOMNodeInserted DOMNodeRemoved', function() {
        document.getElementById('greetings').style.width = "100%";
        document.getElementById('greetings').style.color = "#FFF";


    });
</script>

</body>
</html>