<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Slide</title>
    <link rel="stylesheet" href="../static/master.css" th:href="@{/master.css}"/>
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../javascript/patientIndexGraph.js" th:href="@{/patientIndexGraph.js}"/>
    <script src="../../javascript/Chart.min.js" th:href="@{/Chart.min.js}"/>
    <script src="../../javascript/js-url-2.5.0/url.js" th:href="@{/url.js}" ></script >
</head>
<body>

<header>
    <div th:replace="fragments/header :: header"></div>


</header>


<div th:replace="fragments/patientSideMenu :: patientSideMenu"></div>

<!--<div id="sidenav" th:fragment="patientSideMenu">-->

    <!--<div class="topBar" th:fragment="header">-->
        <!--<div class="holder" id="logoHolder">-->
            <!--<div class="companyHolder">-->
                <!--<p><i class="fa fa-heartbeat"></i>-->
                    <!--MOODi </p>-->
            <!--</div>-->


        <!--</div>-->



        <!--<div class="holder">-->
            <!--<i id="open-menu" class="fa fa-bars toggleMenu" onclick="togNav()"> </i>-->
        <!--</div>-->

        <!--<div class="holder" id="pageTitle">-->
            <!--<div class="pageTitle">-->
                <!--<h3 id="titleChange"> Activities-->
                <!--</h3>-->
            <!--</div>-->


        <!--</div>-->

        <!--<div class="holder" id="langHolder">-->
            <!--<div class="languageSelect">-->

                <!--<p><img src="https://cdn4.iconfinder.com/data/icons/world-flags-5-1/100/Britain-128.png"/>-->
                    <!--ENG                 <i class="fa fa-caret-down" aria-hidden="true"></i>-->
                <!--</p>-->


            <!--</div>-->
        <!--</div>-->

        <!--<div class="holder" id="userHolder">-->
            <!--<div class="loggedInUser">-->
                <!--<p>                 <i class="fa fa-user-circle-o" aria-hidden="true"></i>-->

                    <!--Jane Smith </p>-->



            <!--</div>-->
        <!--</div>-->


    <!--</div>-->

    <!--<ul id="main-nav" class="nav">-->
        <!--<div class="userSection">-->
            <!--<div class="imageWrapper">-->
                <!--<div class="userImageWrapper">-->
                    <!--<img src="https://lh3.googleusercontent.com/rmURjEPHr_LM4Y-s7P9GYcUVysch6EDIBVRBqL4OuORZh_xpaEMco_ZhxVXYnttG-A=w300"/>-->
                <!--</div>-->
                <!--<div class="userTitle">-->
                    <!--<p id="userTitle"> <i class="fa fa-user-circle-o" aria-hidden="true"></i>-->
                        <!--Jane Smith</p>-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<li class="liSection">-->
            <!--<p>-->
                <!--MAIN-->
            <!--</p>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="patientIndex.html" th:href="@{/patient/index}" >-->
                <!--<i class="fa fa-th-large"></i>-->
                <!--Dashboard-->
            <!--</a>-->
        <!--</li>-->



        <!--<li>-->
            <!--<a href="patientActivities.html" th:href="@{/patient/activities/1}" onclick="myFunction()">-->
                <!--<i class="fa fa-heartbeat"></i>-->
                <!--Activities-->
                <!--<div class="notificationWrapper">-->
                    <!--<div class="notificationNav">-->
                        <!--<p>-->
                            <!--3-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</li>-->

        <!--<li class="liSection">-->
            <!--<p>-->
                <!--EXTRAS-->
            <!--</p>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="#">-->
                <!--<i class="fa fa-wrench"></i>-->
                <!--Settings-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="#">-->
                <!--<i class="fa fa-calendar"></i>-->
                <!--Calendar-->
                <!--<div class="notificationWrapper">-->
                    <!--<div class="notificationNav">-->
                        <!--<p id="calanderNotification">-->
                            <!--5-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->

        <!--</li>-->
        <!--<li>-->
            <!--<a href="#">-->
                <!--<i class="fa fa-power-off"></i>-->
                <!--Logout-->
            <!--</a>-->
        <!--</li>-->
    <!--</ul>-->

<!--</div>-->


<div class="activityContainer">

<main class="main" id="main">

    <div class="activityBoxes">
        <div class="boxContainer">
            <div class="activityUpcoming">
                <div class="boxIcon">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>


                </div>
                <h2 th:text="${upcomingActivities}"> # </h2>
                <!--<h2 th:text="${patient}"> # </h2>-->

                <p> upcoming activities </p>

            </div>
        </div>

        <div class="boxContainer">
            <div class="activityAvg">
                <div class="boxIcon">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>


                </div>
                <h2 th:text="${avgRating}">    #
                </h2>
                <p> Average activity score</p>
            </div>
        </div>

        <div class="boxContainer">
            <div class="completionRate">
                <div class="boxIcon">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i>

                </div>
                <!--<h2 class="inline" th:text="${completedCount}"> # </h2> <p class="inline"> of </p> <h2 class="inline" th:text="${totalCreated}" > #</h2>-->
                <h2 class="inline" th:text="${percent}"> </h2> <h2 class="inline"> % </h2>
                <p> Completion rate</p>
            </div>
        </div>

        <div class="boxContainer">
            <div class="avgTime">
                <div class="boxIcon">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </div>
                <h2 th:text="${completedCount}"> # </h2>

                <p> Completed activities</p>
            </div>
        </div>


            <div class="boxContainer" id="indexFav">
                <div class="activityCount">
                    <div class="boxIcon">
                        <i class="fa fa-heart" aria-hidden="true"></i>


                    </div>
                    <h2 th:text="${favouriteCount}"> # </h2>
                    <p> Activities favourited</p>

                </div>

    </div>
    </div>

    <div class="graphToggleWrapper">
        <div class="graphToggleHolder">
            <i class="fa fa-bar-chart" aria-hidden="true" onclick="openFullScreenModalChart()"></i>
        </div>
    </div>

    <!--<div class="container">-->
        <!--<div class="box effect">-->
            <!--<table>-->
                <!--<tr>-->
                    <!--<th>Activity Name</th>-->
                    <!--<th>Date</th>-->
                    <!--<th>Rating</th>-->
                <!--</tr>-->
                <!--<tr th:each="activities : ${activities}">-->
                    <!--<td th:text="${activities.name}"> Test</td>-->
                    <!--<td th:text="${activities.activityDate}">Test</td>-->
                    <!--<td th:text="${activities.ratingAfter}">Test</td>-->

                <!--</tr>-->
            <!--</table>-->
        <!--</div>-->
    <!--</div>-->

    <div class="fullScreenModal" id="chartOverlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeFullScreenModalChart()">&times;</a>

        <div class="chartWrapper">
            <div class="chart-container">
                <canvas id="indexGraph"></canvas>
            </div>
        </div>
    </div>


</main>
</div>

<script>
    function openFullScreenModalChart() {
        document.getElementById("chartOverlay").style.width = "100%";
    }

    function closeFullScreenModalChart() {
        document.getElementById("chartOverlay").style.width = "0";
    }
</script>
<script>
    $('#main-nav li a').click(function(){
        $('#main-nav li').removeClass('active');
        $(this).parent().addClass('active')
    });
    function togNav() {
        var nav = document.getElementById("sidenav");
        var main = document.getElementById("main");

        if (nav.style.width == '250px') {
            nav.style.width = '0';
            main.style.marginLeft = 0;

        } else {
            nav.style.width = "250px";
            main.style.marginLeft = '250px';
        }
    }
</script>

</body>
</html>