<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Slide</title>
    <link rel="stylesheet" href="../static/master.css" th:href="@{/master.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>

<header>
    <div th:replace="fragments/header :: header"></div>


</header>


<div th:replace="fragments/patientSideMenu :: patientSideMenu"></div>

<script>
    $('#main-nav li a').click(function(){
        $('#main-nav li').removeClass('active');
        $(this).parent().addClass('active')
    });
    function togNav() {
        var nav = document.getElementById("sidenav");
        var main = document.getElementById("main");

        if (nav.style.width == '250px') {
            nav.style.width = '0';
            main.style.marginLeft = 0;

        } else {
            nav.style.width = "250px";
            main.style.marginLeft = '250px';
        }
    }
</script>

</body>
</html>