.range-slider-x {
    width:100%;
    height:40px;
    margin:0 auto 1em;
    /*border-radius: 50%;*/
    position:relative;
    cursor:e-resize;
}
.range-slider-x:before {
    content: "";
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 40px;
    box-shadow: 1px 1px 1px 1px #000000;

    /*background-color:black;*/
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://1.bp.blogspot.com/-fcCvGS8VBWo/VQzRw5LI0cI/AAAAAAAADFs/v2niIm8FJ_Q/s1600/spectrum.png")
}
.range-slider-x span {
    display:block;
    /*height:inherit;*/
    height: 50px;
    width: 90px;
    position:relative;
    border-radius: 50%;
    z-index:2;
    background-color:#FFFFFF;
    cursor:inherit;
    box-shadow:  1px 1px 1px 1px  #000000;

}

.test-result-x {
    width: 100%;
    text-align:center;
    color: #ffffff;
    font-size:2em;
}

#result-emoji-x {
    width: 100px;
    height: 100px;
}

#notificationdom {
    display: none;
}